force-app/main/default/flows/Check_Duplicate_Business_Dossiers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End</name>
        <label>End</label>
        <locationX>1349</locationX>
        <locationY>304</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <actionCalls>
        <name>Find_Duplicate_Dossiers</name>
        <label>Find Duplicate Dossiers</label>
        <locationX>391</locationX>
        <locationY>300</locationY>
        <actionName>FindDuplicatesInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_over_Duplicate_Results</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sobj</typeName>
            <typeValue>appsolutely__Business_Dossier__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>appsolutely__Business_Dossier__c</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>sobj</name>
            <value>
                <elementReference>selectedDossier</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Found_Duplicate_Dossiers</assignToReference>
            <name>output</name>
        </outputParameters>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_duplicate_dossiers_internal</name>
        <label>Find duplicate dossiers internal</label>
        <locationX>864</locationX>
        <locationY>534</locationY>
        <actionName>FindDuplicateDossiersInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_over_internal_Duplicate_Dossiers</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__dossier</typeName>
            <typeValue>appsolutely__Business_Dossier__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>appsolutely__Business_Dossier__c</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>dossier</name>
            <value>
                <elementReference>selectedDossier</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Found_Duplicate_Dossiers</assignToReference>
            <name>output</name>
        </outputParameters>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Assign_Duplicate_Dossier</name>
        <label>Assign Duplicate Dossier</label>
        <locationX>627</locationX>
        <locationY>80</locationY>
        <assignmentItems>
            <assignToReference>DuplicateDossier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DuplicateDossierLoopVariable</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Internal_Duplicate_Dossier</name>
        <label>Assign Duplicate Dossier</label>
        <locationX>1019</locationX>
        <locationY>699</locationY>
        <assignmentItems>
            <assignToReference>DuplicateDossier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InternalDuplicateDossierLoopVariable</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Found_Duplicate_Dossier</name>
        <label>Found Duplicate Dossier</label>
        <locationX>847</locationX>
        <locationY>302</locationY>
        <defaultConnector>
            <targetReference>Find_duplicate_dossiers_internal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateDossier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Check Duplicate Business Dossiers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Duplicate Business Dossiers</label>
    <loops>
        <name>Loop_over_Duplicate_Results</name>
        <label>Loop over Duplicate Results</label>
        <locationX>627</locationX>
        <locationY>300</locationY>
        <assignNextValueToReference>DuplicateDossierLoopVariable</assignNextValueToReference>
        <collectionReference>Found_Duplicate_Dossiers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Duplicate_Dossier</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Found_Duplicate_Dossier</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_internal_Duplicate_Dossiers</name>
        <label>Loop over internal Duplicate Dossiers.</label>
        <locationX>1020</locationX>
        <locationY>534</locationY>
        <assignNextValueToReference>InternalDuplicateDossierLoopVariable</assignNextValueToReference>
        <collectionReference>Found_Duplicate_Dossiers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Internal_Duplicate_Dossier</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>End</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>103</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>Find_Duplicate_Dossiers</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DuplicateDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>DuplicateDossierLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>InternalDuplicateDossierLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>selectedDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>Found_Duplicate_Dossiers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
</Flow>