force-app/main/default/flows/Create_Contact_From_Position_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End</name>
        <label>End</label>
        <locationX>1268</locationX>
        <locationY>536</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <decisions>
        <name>Has_access</name>
        <label>Has access?</label>
        <locationX>594</locationX>
        <locationY>91</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Permission_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasAccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Business_Position</targetReference>
            </connector>
            <label>Permission Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Account_found</name>
        <label>Related Account found?</label>
        <locationX>1292</locationX>
        <locationY>92</locationY>
        <defaultConnector>
            <targetReference>Default_Navigation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessPositionRecord.Business_Dossier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Account</targetReference>
            </connector>
            <label>Has Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Business_Person_Found</name>
        <label>Related Business Person Found</label>
        <locationX>911</locationX>
        <locationY>86</locationY>
        <defaultConnector>
            <targetReference>Default_Navigation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Business_Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessPositionRecord.Business_Person__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Business_Person</targetReference>
            </connector>
            <label>Has Business Person</label>
        </rules>
    </decisions>
    <formulas>
        <name>InfoMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__contact_not_created}</expression>
    </formulas>
    <formulas>
        <name>SuccessMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__contact_record_created}</expression>
    </formulas>
    <formulas>
        <name>SuccessToast</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__success}</expression>
    </formulas>
    <interviewLabel>Create Contact From Position Template {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Create Contact From Position Template</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>1651</locationX>
        <locationY>91</locationY>
        <assignRecordIdToReference>contactId</assignRecordIdToReference>
        <connector>
            <targetReference>Navigate_to_contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Position__c</field>
            <value>
                <elementReference>BusinessPositionRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>BusinessPositionRecord.Authorization_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>BusinessPersonRecord.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>BusinessPersonRecord.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>BusinessPositionRecord.Function_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Business_Person</name>
        <label>Get Business Person</label>
        <locationX>1125</locationX>
        <locationY>91</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Account_found</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessPositionRecord.Business_Person__c</elementReference>
            </value>
        </filters>
        <object>Business_Person__c</object>
        <outputReference>BusinessPersonRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_Position</name>
        <label>Get Business Position</label>
        <locationX>790</locationX>
        <locationY>85</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Business_Person_Found</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Business_Position__c</object>
        <outputReference>BusinessPositionRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Business_Person__c</queriedFields>
        <queriedFields>Business_Dossier__c</queriedFields>
        <queriedFields>Authorization_Description__c</queriedFields>
        <queriedFields>Function_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Account</name>
        <label>Get Related Account</label>
        <locationX>1465</locationX>
        <locationY>91</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <filters>
            <field>Business_Dossier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessPositionRecord.Business_Dossier__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Default_Navigation</name>
        <label>Default Navigation</label>
        <locationX>1100</locationX>
        <locationY>552</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NavigatetoDefaultrecord</name>
            <extensionName>appsolutely:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>BusinessPositionRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>InfoMessage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Navigate_to_contact</name>
        <label>Navigate to contact</label>
        <locationX>1645</locationX>
        <locationY>536</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <fields>
            <name>NavigatetoRecord</name>
            <extensionName>appsolutely:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>contactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>SuccessMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <elementReference>SuccessToast</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>70</locationY>
        <connector>
            <targetReference>Check_Permission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_Permission</name>
        <label>Check Permission</label>
        <locationX>459</locationX>
        <locationY>89</locationY>
        <connector>
            <targetReference>Has_access</targetReference>
        </connector>
        <flowName>Check_Permission_Set_Assignment</flowName>
        <inputAssignments>
            <name>PermissionSetName</name>
            <value>
                <stringValue>Company_info_for_Sales</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>hasAccess</assignToReference>
            <name>HasAccess</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>BusinessPersonRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Person__c</objectType>
    </variables>
    <variables>
        <name>BusinessPositionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Position__c</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>hasAccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
