force-app/main/default/flows/CreateContactFromPositionTemplate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Related_Account_found</name>
        <label>Related Account found?</label>
        <locationX>659</locationX>
        <locationY>115</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_to_Business_Position</targetReference>
            </connector>
            <label>Has Account</label>
        </rules>
    </decisions>
    <interviewLabel>Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateContactFromPositionTemplate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_to_Business_Position</name>
        <label>Create Contact to Business Position</label>
        <locationX>841</locationX>
        <locationY>110</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Related_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Position__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.appsolutely__Authorization_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Account from Business Position&apos;s Business Dossier</description>
        <name>Get_Related_Account</name>
        <label>Get Related Account</label>
        <locationX>544</locationX>
        <locationY>114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Account_found</targetReference>
        </connector>
        <filters>
            <field>Business_Dossier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.appsolutely__Business_Dossier__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>131</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Get_Related_Account</targetReference>
        </connector>
        <object>appsolutely__Business_Position__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BusinessPositionDossier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.appsolutely__Business_Dossier__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>BusinessPositionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Position__c</objectType>
    </variables>
    <variables>
        <name>contactToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
</Flow>
