force-app/main/default/flows/Create_Account_based_on_Company_info_data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Template you can use to create an account based on Company.info data. Use this for example in quick actions.</description>
    <interviewLabel>Create Account based on Company.info data {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Create Account based on Company.info data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates the account. Add field values which take values from the selectedDossier variable to set the different fields on the account to be created.</description>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>469</locationX>
        <locationY>50</locationY>
        <inputAssignments>
            <field>Business_Dossier__c</field>
            <value>
                <elementReference>selectedDossier.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>selectedDossier.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Organisation_Search_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Searches in Company.info for the right organisation</description>
        <name>Organisation_Search_Flow</name>
        <label>Organisation Search Flow</label>
        <locationX>258</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
        <flowName>Organisation_Search_Flow</flowName>
        <outputAssignments>
            <assignToReference>selectedDossier</assignToReference>
            <name>selectedDossier</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>The dossier (Company.info record) selected by the user.</description>
        <name>selectedDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
</Flow>
