force-app/main/default/flows/Duplicate_Management_For_Account_and_International_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End</name>
        <label>End</label>
        <locationX>1390</locationX>
        <locationY>352</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <actionCalls>
        <name>Find_Duplicate_Accounts</name>
        <label>Find Duplicate Accounts</label>
        <locationX>514</locationX>
        <locationY>258</locationY>
        <actionName>FindDuplicatesInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Duplicate_Account_Size</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sobj</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>sobj</name>
            <value>
                <elementReference>AccountToBeCreated</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Assign_Duplicate_Account_Size</name>
        <label>Assign Duplicate Account Size</label>
        <locationX>820</locationX>
        <locationY>250</locationY>
        <assignmentItems>
            <assignToReference>DuplicateAccountsSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Find_Duplicate_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Duplicate_Account_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Id_To_Account</name>
        <label>Assign Id To Account</label>
        <locationX>1620</locationX>
        <locationY>144</locationY>
        <assignmentItems>
            <assignToReference>AccountToBeCreated.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedDuplicateAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Duplicate_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Toast_Message_and_Variant_and_Account_Id</name>
        <label>Assign Toast Message and Variant and Account Id</label>
        <locationX>1018</locationX>
        <locationY>483</locationY>
        <assignmentItems>
            <assignToReference>TextMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RedirectToAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Variant</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>info</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Related_to_Selected_International_Address.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Navigation_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Toast_Message_and_Variant_and_Account_Id_0</name>
        <label>Assign Toast Message and Variant and Account Id</label>
        <locationX>1222</locationX>
        <locationY>591</locationY>
        <assignmentItems>
            <assignToReference>TextMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Variant</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountToBeCreated.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Navigation_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Toast_Message_and_Variant_and_Account_Id_For_Update</name>
        <label>Assign Toast Message and Variant and Account Id For Update</label>
        <locationX>1628</locationX>
        <locationY>607</locationY>
        <assignmentItems>
            <assignToReference>TextMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Variant</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedDuplicateAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Navigation_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Duplicate_International_Address</name>
        <label>Check Duplicate International Address</label>
        <locationX>390</locationX>
        <locationY>496</locationY>
        <defaultConnector>
            <targetReference>Find_Duplicate_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duplicate International Address Not Found</defaultConnectorLabel>
        <rules>
            <name>Duplicate_International_Address_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Related_to_Selected_International_Address</targetReference>
            </connector>
            <label>Duplicate International Address Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_New_Or_Update_Duplicate_Account</name>
        <label>Create New Or Update Duplicate Account</label>
        <locationX>1378</locationX>
        <locationY>155</locationY>
        <defaultConnector>
            <targetReference>End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel Pressed</defaultConnectorLabel>
        <rules>
            <name>Update_Duplicate_Account_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateDuplicateAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Id_To_Account</targetReference>
            </connector>
            <label>Update Duplicate Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_Account_Check</name>
        <label>Duplicate Account Check</label>
        <locationX>1016</locationX>
        <locationY>253</locationY>
        <defaultConnector>
            <targetReference>Create_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duplicate Account Not Found</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Accounts_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateAccountsSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Account_Details</targetReference>
            </connector>
            <label>Duplicate Accounts Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Related_To_International_Address</name>
        <label>Is Account Related To  International Address</label>
        <locationX>784</locationX>
        <locationY>487</locationY>
        <defaultConnector>
            <targetReference>Find_Duplicate_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Related Account Not Found</defaultConnectorLabel>
        <rules>
            <name>Related_Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Related_to_Selected_International_Address</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Toast_Message_and_Variant_and_Account_Id</targetReference>
            </connector>
            <label>Related Account Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>CreateNewAccount</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__new_account_with_international_address}</expression>
    </formulas>
    <formulas>
        <name>RedirectToAccount</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__redirect_to_duplicate_account_with_address}</expression>
    </formulas>
    <formulas>
        <name>UpdatedAccount</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__updated_account}</expression>
    </formulas>
    <interviewLabel>Duplicate Management For Account and International Address {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Duplicate Management For Account and International Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates the account. Add field values which take values from the selectedDossier variable to set the different fields on the account to be created.</description>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>1230</locationX>
        <locationY>364</locationY>
        <connector>
            <targetReference>Assign_Toast_Message_and_Variant_and_Account_Id_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_Message_Screen</targetReference>
        </faultConnector>
        <inputReference>AccountToBeCreated</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Related_to_Selected_International_Address</name>
        <label>Get Account Related to Selected International Address</label>
        <locationX>525</locationX>
        <locationY>705</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_Related_To_International_Address</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_Message_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>International_Address_Data__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedInternationalAddress.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Duplicate_Account</name>
        <label>Update Duplicate Account</label>
        <locationX>1621</locationX>
        <locationY>352</locationY>
        <connector>
            <targetReference>Assign_Toast_Message_and_Variant_and_Account_Id_For_Update</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_Message_Screen</targetReference>
        </faultConnector>
        <inputReference>AccountToBeCreated</inputReference>
    </recordUpdates>
    <screens>
        <name>Account_Navigation_Screen</name>
        <label>Account Navigation Screen</label>
        <locationX>1388</locationX>
        <locationY>485</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <fields>
            <name>NavigateToRecord</name>
            <extensionName>appsolutely:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>TextMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <elementReference>Variant</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Account_Details</name>
        <label>Duplicate Account Details</label>
        <locationX>1220</locationX>
        <locationY>153</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Or_Update_Duplicate_Account</targetReference>
        </connector>
        <fields>
            <name>DuplicateAccounts</name>
            <extensionName>appsolutely:accountListTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountList</name>
                <value>
                    <elementReference>Find_Duplicate_Accounts</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cancelPressed</assignToReference>
                <name>cancelClicked</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedDuplicateAccount</assignToReference>
                <name>selectedResult</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>UpdateDuplicateAccount</assignToReference>
                <name>updateDuplicateAccount</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Flow_Fault_Message_Screen</name>
        <label>Flow Fault Message Screen</label>
        <locationX>1401</locationX>
        <locationY>789</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FlowFaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>Check_Duplicate_International_Address</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Account Id for navigation</description>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>cancelPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DuplicateAccountsSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>DuplicateFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SelectedDuplicateAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SelectedInternationalAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>International_Address__c</objectType>
    </variables>
    <variables>
        <name>TextMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>A duplicate account has been found</stringValue>
        </value>
    </variables>
    <variables>
        <name>UpdateDuplicateAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Variant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
