force-app/main/default/flows/Dutch_Address_Search.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End_Flow</name>
        <label>End Flow</label>
        <locationX>518</locationX>
        <locationY>267</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <actionCalls>
        <name>Search_Dutch_Address</name>
        <label>Search Dutch Address</label>
        <locationX>525</locationX>
        <locationY>50</locationY>
        <actionName>SearchForDutchAddressInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Dutch_Address_Search_Result</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Address_Search_Screen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>address</name>
            <value>
                <elementReference>Address</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>DutchAddresses</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>Cancel_Pressed</name>
        <label>Cancel Pressed</label>
        <locationX>259</locationX>
        <locationY>264</locationY>
        <defaultConnector>
            <targetReference>Search_Dutch_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel Not Pressed</defaultConnectorLabel>
        <rules>
            <name>Cancel_Pressed_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Flow</targetReference>
            </connector>
            <label>Cancel Pressed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cancel_Pressed_in_Search_Results</name>
        <label>Cancel Pressed in Search Results</label>
        <locationX>720</locationX>
        <locationY>259</locationY>
        <defaultConnector>
            <targetReference>Create_Dutch_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel Not Pressed</defaultConnectorLabel>
        <rules>
            <name>Cancel_Pressed_in_Search_Results_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Flow</targetReference>
            </connector>
            <label>Cancel Pressed</label>
        </rules>
    </decisions>
    <description>Searches for and/or completes/corrects dutch addresses. Returns an address if found, else returns an error.</description>
    <interviewLabel>Dutch Address Search Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dutch Address Search</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Dutch_Address</name>
        <label>Create Dutch Address</label>
        <locationX>926</locationX>
        <locationY>138</locationY>
        <connector>
            <targetReference>Dutch_Address_Search_Result</targetReference>
        </connector>
        <inputReference>SelectedDutchAddress</inputReference>
    </recordCreates>
    <screens>
        <name>Address_Search_Screen</name>
        <label>Address Search Screen</label>
        <locationX>268</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cancel_Pressed</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <extensionName>appsolutely:flowErrorHandler</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SearchDutchAddress</name>
            <extensionName>appsolutely:dutchAddressSearchForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>address</name>
                <value>
                    <elementReference>Address</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SearchFlowFooter</name>
            <extensionName>appsolutely:searchFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showCancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CancelPressed</assignToReference>
                <name>cancelPressed</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dutch_Address_Search_Result</name>
        <label>Dutch Address Search Result</label>
        <locationX>728</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cancel_Pressed_in_Search_Results</targetReference>
        </connector>
        <fields>
            <name>FlowErrorHandlerSearchResults</name>
            <extensionName>appsolutely:flowErrorHandler</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DutchAddressResults</name>
            <extensionName>appsolutely:dutchAddressSearchResults</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchResults</name>
                <value>
                    <elementReference>DutchAddresses</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedDutchAddress</assignToReference>
                <name>selectedResult</name>
            </outputParameters>
        </fields>
        <fields>
            <name>SearchResultFooter</name>
            <extensionName>appsolutely:searchFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showCancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CancelPressed</assignToReference>
                <name>cancelPressed</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Address_Search_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CancelPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DutchAddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Dutch_Address_Postcode_Range__c</objectType>
    </variables>
    <variables>
        <name>SelectedDutchAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Dutch_Address_Postcode_Range__c</objectType>
    </variables>
</Flow>
