force-app/main/default/flows/Enrich_Account_with_International_Address_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End</name>
        <label>End</label>
        <locationX>787</locationX>
        <locationY>586</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <assignments>
        <name>Assign_billing_country_default</name>
        <label>Assign billing country default</label>
        <locationX>521</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Organisation_Search_Flow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cancel_Pressed</name>
        <label>Cancel Pressed</label>
        <locationX>778</locationX>
        <locationY>425</locationY>
        <defaultConnector>
            <targetReference>Update_Account_for_Dutch_Dossier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel Not Pressed</defaultConnectorLabel>
        <rules>
            <name>Cancel_Pressed_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Cancel Pressed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_country_is_empty</name>
        <label>Selected country is empty</label>
        <locationX>380</locationX>
        <locationY>269</locationY>
        <defaultConnector>
            <targetReference>Organisation_Search_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_country_is_empty_outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_billing_country_default</targetReference>
            </connector>
            <label>Selected country is empty</label>
        </rules>
    </decisions>
    <interviewLabel>Enrich Account with International Address Data {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Enrich Account with International Address Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Selected_country_is_empty</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates an account with the details of a dutch business dossier</description>
        <name>Update_Account_for_Dutch_Dossier</name>
        <label>Update Account for Dutch Dossier</label>
        <locationX>914</locationX>
        <locationY>274</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Dossier__c</field>
            <value>
                <elementReference>CreatedDossier.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CreatedDossier.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>267</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Searches for organisations. Uses the input values as defaults to search on.</description>
        <name>Organisation_Search_Flow</name>
        <label>Organisation Search Flow</label>
        <locationX>653</locationX>
        <locationY>268</locationY>
        <connector>
            <targetReference>Cancel_Pressed</targetReference>
        </connector>
        <flowName>Organisation_Search_Flow</flowName>
        <inputAssignments>
            <name>City</name>
            <value>
                <elementReference>Get_Account.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DomainName</name>
            <value>
                <elementReference>Get_Account.Website</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>Get_Account.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PostalCode</name>
            <value>
                <elementReference>Get_Account.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedCountry</name>
            <value>
                <elementReference>Get_Account.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Street</name>
            <value>
                <elementReference>Get_Account.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TradeName</name>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VATEnrichmentRequired</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>cancelPressed</assignToReference>
            <name>cancelPressed</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreatedDossier</assignToReference>
            <name>selectedDossier</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Search_International_Address</name>
        <label>Search International Address</label>
        <locationX>489</locationX>
        <locationY>427</locationY>
        <flowName>Search_International_Address</flowName>
        <inputAssignments>
            <name>Locality</name>
            <value>
                <elementReference>Get_Account.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Organization</name>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Postcode</name>
            <value>
                <elementReference>Get_Account.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Street</name>
            <value>
                <elementReference>Get_Account.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>cancelPressed</assignToReference>
            <name>cancelPressed</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>cancelPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The dossier created in the organisation search subflow</description>
        <name>CreatedDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <description>The record Id of the Account to complete</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
