force-app/main/default/flows/Find_Businesses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Business_Dossiers</name>
        <label>Create Business Dossiers</label>
        <locationX>1106</locationX>
        <locationY>288</locationY>
        <actionName>CreateBusinessDossierInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__businessDossiers</typeName>
            <typeValue>appsolutely__Business_Dossier__c</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>businessDossiers</name>
            <value>
                <elementReference>SelectedBusinessDossiers</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>End</name>
        <label>End</label>
        <locationX>697</locationX>
        <locationY>291</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <decisions>
        <name>Has_Access</name>
        <label>Has Access</label>
        <locationX>696</locationX>
        <locationY>81</locationY>
        <defaultConnector>
            <targetReference>End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasPermissionSetAssigned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Businesses_Input_Criteria</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Find Businesses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Find Businesses</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Find_Businesses_Input_Criteria</name>
        <label>Find Businesses Input Criteria</label>
        <locationX>883</locationX>
        <locationY>75</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Search_Results_Screen</targetReference>
        </connector>
        <fields>
            <name>Find_Businesses_LWC</name>
            <extensionName>appsolutely:findBusinessesContainer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CriteriaMap</assignToReference>
                <name>criteriaMap</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Search_Results_Screen</name>
        <label>Search Results Screen</label>
        <locationX>1107</locationX>
        <locationY>75</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Business_Dossiers</targetReference>
        </connector>
        <fields>
            <name>Find_Businesses_Search_Results</name>
            <extensionName>appsolutely:findBusinessesSearchResults</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchCriteria</name>
                <value>
                    <elementReference>CriteriaMap</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedBusinessDossiers</assignToReference>
                <name>businessDossiersToInsert</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>58</locationY>
        <connector>
            <targetReference>Check_Permission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_Permission</name>
        <label>Check Permission</label>
        <locationX>485</locationX>
        <locationY>77</locationY>
        <connector>
            <targetReference>Has_Access</targetReference>
        </connector>
        <flowName>Check_Permission_Set_Assignment</flowName>
        <inputAssignments>
            <name>PermissionSetName</name>
            <value>
                <stringValue>Company_info_for_Sales</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>HasPermissionSetAssigned</assignToReference>
            <name>HasAccess</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CriteriaMap</name>
        <apexClass>appsolutely__FindBusinessCriteriaModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HasPermissionSetAssigned</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SelectedBusinessDossiers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
</Flow>
