force-app/main/default/flows/Get_Creditsafe_Report_Quick_Action_on_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <decisions>
        <name>Is_Business_Dossier_Related_to_Account</name>
        <label>Is Business Dossier Related to Account</label>
        <locationX>557</locationX>
        <locationY>123</locationY>
        <defaultConnector>
            <targetReference>No_Business_Dossier_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Business Dossier Not Related</defaultConnectorLabel>
        <rules>
            <name>Business_Dossier_Related</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record.Business_Dossier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Creditsafe_Report_Quick_Action</targetReference>
            </connector>
            <label>Business Dossier Related</label>
        </rules>
    </decisions>
    <description>Template that can be used to get creditsafe report as quick actions on Account.</description>
    <formulas>
        <name>NoBusinessDossierFoundLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__no_business_dossier_found}</expression>
    </formulas>
    <interviewLabel>Get Creditsafe Report Quick Action on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Get Creditsafe Report Quick Action on Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>328</locationX>
        <locationY>119</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Business_Dossier_Related_to_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>No_Business_Dossier_Found</name>
        <label>No Business Dossier Found</label>
        <locationX>824</locationX>
        <locationY>197</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Business_Dossier_Found_Message</name>
            <fieldText>&lt;p&gt;{!NoBusinessDossierFoundLabel}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>120</locationY>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Creditsafe_Report_Quick_Action</name>
        <label>Get Creditsafe Report Quick Action</label>
        <locationX>814</locationX>
        <locationY>43</locationY>
        <flowName>Get_Creditsafe_Report_Quick_Action</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Account_Record.Business_Dossier__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CancelPressed</assignToReference>
            <name>CancelPressed</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CancelPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
