force-app/main/default/flows/Get_Creditsafe_Report1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Creditsafe_Report</name>
        <label>Get Creditsafe Report</label>
        <locationX>1085</locationX>
        <locationY>436</locationY>
        <actionName>GetCreditsafeFullReportInvocable</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>companyId</name>
            <value>
                <elementReference>Get_Buisness_Dossier_Record.Company_Id__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Search_for_Company_ID</name>
        <label>Search for Company ID</label>
        <locationX>436</locationX>
        <locationY>733</locationY>
        <actionName>GetCompanyIdInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Company_Id_Not_Null</targetReference>
        </connector>
        <inputParameters>
            <name>countries</name>
            <value>
                <elementReference>Countries</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>registration_number</name>
            <value>
                <elementReference>Get_Buisness_Dossier_Record.Dossier_Number__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CompanyId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Country</name>
        <label>Assign Country</label>
        <locationX>436</locationX>
        <locationY>558</locationY>
        <assignmentItems>
            <assignToReference>Countries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Buisness_Dossier_Record.Registration_Country__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_for_Company_ID</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DutchLanguage</name>
        <choiceText>{!Dutch}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Dutch</elementReference>
        </value>
    </choices>
    <choices>
        <name>EnglishLanguage</name>
        <choiceText>{!English}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>English</elementReference>
        </value>
    </choices>
    <choices>
        <name>GermanLanguage</name>
        <choiceText>{!German}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>German</elementReference>
        </value>
    </choices>
    <constants>
        <name>Dutch</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NL</stringValue>
        </value>
    </constants>
    <constants>
        <name>English</name>
        <dataType>String</dataType>
        <value>
            <stringValue>EN</stringValue>
        </value>
    </constants>
    <constants>
        <name>German</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DE</stringValue>
        </value>
    </constants>
    <constants>
        <name>Germany</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Germany</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Company_Id_Filled</name>
        <label>Is Company Id Filled</label>
        <locationX>429</locationX>
        <locationY>328</locationY>
        <defaultConnector>
            <targetReference>Assign_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Company Id not found</defaultConnectorLabel>
        <rules>
            <name>Is_Company_Id_Filled_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Buisness_Dossier_Record.Company_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_parameters</targetReference>
            </connector>
            <label>Is Company Id Filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Company_Id_Not_Null</name>
        <label>Is Company Id Not Null</label>
        <locationX>594</locationX>
        <locationY>736</locationY>
        <defaultConnector>
            <targetReference>No_Report_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Company Id Null</defaultConnectorLabel>
        <rules>
            <name>Company_Id_Not_Null_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompanyId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Dossier_record</targetReference>
            </connector>
            <label>Company Id Not Null</label>
        </rules>
    </decisions>
    <interviewLabel>Get Creditsafe Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Creditsafe Report</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Buisness_Dossier_Record</name>
        <label>Get Buisness Dossier Record</label>
        <locationX>250</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Company_Id_Filled</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Dossier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Dossier_record</name>
        <label>Update the Dossier record</label>
        <locationX>861</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Input_parameters</targetReference>
        </connector>
        <filters>
            <field>Company_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Company_Id__c</field>
            <value>
                <elementReference>CompanyId</elementReference>
            </value>
        </inputAssignments>
        <object>Business_Dossier__c</object>
    </recordUpdates>
    <screens>
        <name>Input_parameters</name>
        <label>Input parameters</label>
        <locationX>861</locationX>
        <locationY>321</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Creditsafe_Report</targetReference>
        </connector>
        <fields>
            <name>Language</name>
            <choiceReferences>EnglishLanguage</choiceReferences>
            <choiceReferences>DutchLanguage</choiceReferences>
            <choiceReferences>GermanLanguage</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>EnglishLanguage</defaultSelectedChoiceReference>
            <fieldText>Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason</name>
            <dataType>String</dataType>
            <fieldText>Reason</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>DossierCountry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>German</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DossierCountry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Germany</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Report_screen</name>
        <label>No Report</label>
        <locationX>600</locationX>
        <locationY>932</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Report</name>
            <fieldText>&lt;p&gt;No Creditsafe Report generated as Company Id is empty&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>54</locationX>
        <locationY>320</locationY>
        <connector>
            <targetReference>Get_Buisness_Dossier_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CompanyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Countries</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DossierCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Buisness_Dossier_Record.Country__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>DossierRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
