force-app/main/default/flows/Get_Creditsafe_Report_Quick_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_for_Company_IDs</name>
        <label>Get for Company IDs</label>
        <locationX>924</locationX>
        <locationY>283</locationY>
        <actionName>GetCompanyIdsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Creditsafe_Report_For_Dossier</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Default_Outcome_Message</targetReference>
        </faultConnector>
        <inputParameters>
            <name>countries</name>
            <value>
                <elementReference>Countries</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>registration_number</name>
            <value>
                <elementReference>Get_Business_Dossier_Record.Dossier_Number__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CompanyId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Country</name>
        <label>Assign Country</label>
        <locationX>513</locationX>
        <locationY>283</locationY>
        <assignmentItems>
            <assignToReference>Countries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Business_Dossier_Record.Registration_Country__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_for_Company_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Outcome_Message</name>
        <label>Default Outcome Message</label>
        <locationX>1113</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Handling_Screen</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DutchBusinessRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Dutch_Business</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Type_of_Business_Dossier</name>
        <label>Type of Business Dossier</label>
        <locationX>506</locationX>
        <locationY>57</locationY>
        <defaultConnector>
            <targetReference>Get_Creditsafe_Report_For_Dossier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Creditsafe Business Dossier</defaultConnectorLabel>
        <rules>
            <name>Is_Dutch_Business_Dossier_with_No_Company_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Business_Dossier_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DutchBusinessRecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Business_Dossier_Record.Company_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Country</targetReference>
            </connector>
            <label>Is Dutch Business Dossier with No Company Id</label>
        </rules>
        <rules>
            <name>Is_Dutch_Business_Dossier_with_Company_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Business_Dossier_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DutchBusinessRecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Business_Dossier_Record.Company_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Creditsafe_Report_For_Dossier</targetReference>
            </connector>
            <label>Is Dutch Business Dossier with Company Id</label>
        </rules>
    </decisions>
    <description>This flow can be used as a quick action on the Business Dossier record.</description>
    <formulas>
        <name>AnErrorOccuredLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__an_error_occured}</expression>
    </formulas>
    <interviewLabel>Get Creditsafe Report Quick Action {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Get Creditsafe Report Quick Action on Business Dossier</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Business_Dossier_Record</name>
        <label>Get Business Dossier Record</label>
        <locationX>282</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_of_Business_Dossier</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Dossier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Handling_Screen</name>
        <label>Error Handling Screen</label>
        <locationX>1114</locationX>
        <locationY>467</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;{!AnErrorOccuredLabel}&lt;/p&gt;&lt;p&gt;{!ErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>Get_Business_Dossier_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Creditsafe_Report_For_Dossier</name>
        <label>Get Creditsafe Report For Dossier</label>
        <locationX>923</locationX>
        <locationY>50</locationY>
        <flowName>Get_Creditsafe_Report</flowName>
        <inputAssignments>
            <name>CompanyId</name>
            <value>
                <elementReference>CompanyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputBusinessDossier</name>
            <value>
                <elementReference>Get_Business_Dossier_Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CancelPressed</assignToReference>
            <name>CancelPressed</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreditsafeReport</assignToReference>
            <name>CreditsafeReport</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CancelPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CompanyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Business_Dossier_Record.Company_Id__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Countries</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreditsafeReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Creditsafe_Company_Report_Full__c</objectType>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserCanSelectLanguageOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
