force-app/main/default/flows/Get_Creditsafe_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End</name>
        <label>End</label>
        <locationX>1288</locationX>
        <locationY>183</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <actionCalls>
        <name>Get_Creditsafe_Report</name>
        <label>Get Creditsafe Report</label>
        <locationX>817</locationX>
        <locationY>189</locationY>
        <actionName>GetCreditsafeFullReportInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Creditsafe_Report_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handling_Screen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>companyId</name>
            <value>
                <elementReference>CompanyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>language</name>
            <value>
                <elementReference>Language</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reason</name>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CreditsafeReport</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_for_Company_IDs</name>
        <label>Get for Company IDs</label>
        <locationX>533</locationX>
        <locationY>594</locationY>
        <actionName>GetCompanyIdsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Company_Id_Not_Null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handling_Screen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>countries</name>
            <value>
                <elementReference>Countries</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>registration_number</name>
            <value>
                <elementReference>Get_Buisness_Dossier_Record.Dossier_Number__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CompanyId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Company_Id</name>
        <label>Assign Company Id</label>
        <locationX>325</locationX>
        <locationY>198</locationY>
        <assignmentItems>
            <assignToReference>CompanyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Buisness_Dossier_Record.Company_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_can_select_language</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Country</name>
        <label>Assign Country</label>
        <locationX>325</locationX>
        <locationY>594</locationY>
        <assignmentItems>
            <assignToReference>Countries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Buisness_Dossier_Record.Registration_Country__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_for_Company_IDs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ContractIntentionOfSignatureOfLeasingOrRentContractChoice</name>
        <choiceText>&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!ContractIntentionOfSignatureOfLeasingOrRentContractChoiceLabel}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ContractIntentionOfSignatureOfLeasingOrRentContract</elementReference>
        </value>
    </choices>
    <choices>
        <name>CreditAssessmentExistingBusinessConnectionChoice</name>
        <choiceText>{!CreditAssessmentExistingBusinessConnectionChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CreditAssessmentExistingBusinessConnection</elementReference>
        </value>
    </choices>
    <choices>
        <name>CreditAssessmentFutureBusinessConnectionChoice</name>
        <choiceText>{!CreditAssessmentFutureBusinessConnectionChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CreditAssessmentFutureBusinessConnection</elementReference>
        </value>
    </choices>
    <choices>
        <name>CreditDecisionChoice</name>
        <choiceText>{!CreditDecisionChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CreditDecision</elementReference>
        </value>
    </choices>
    <choices>
        <name>DutchLanguage</name>
        <choiceText>{!Dutch}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Dutch</elementReference>
        </value>
    </choices>
    <choices>
        <name>EnglishLanguage</name>
        <choiceText>{!English}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>English</elementReference>
        </value>
    </choices>
    <choices>
        <name>GermanLanguage</name>
        <choiceText>{!German}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>German</elementReference>
        </value>
    </choices>
    <choices>
        <name>GoodsCreditInsuranceChoice</name>
        <choiceText>{!GoodsCreditInsuranceChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>GoodsCreditInsurance</elementReference>
        </value>
    </choices>
    <choices>
        <name>InsuranceContractIntentionOfSignatureOfInsuranceContractChoice</name>
        <choiceText>{!InsuranceContractIntentionOfSignatureOfInsuranceContractChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>InsuranceContractIntentionOfSignatureOfInsuranceContract</elementReference>
        </value>
    </choices>
    <choices>
        <name>PurchaseContractIntentionOfSignatureOfPurchaseContractChoice</name>
        <choiceText>{!PurchaseContractIntentionOfSignatureOfPurchaseContractChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>PurchaseContractIntentionOfSignatureOfPurchaseContract</elementReference>
        </value>
    </choices>
    <choices>
        <name>RealisationCheckReceivablesCollectionChoice</name>
        <choiceText>{!RealisationCheckReceivablesCollectionChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>RealisationCheckReceivablesCollection</elementReference>
        </value>
    </choices>
    <constants>
        <name>ContractIntentionOfSignatureOfLeasingOrRentContract</name>
        <dataType>String</dataType>
        <value>
            <stringValue>7</stringValue>
        </value>
    </constants>
    <constants>
        <name>CreditAssessmentExistingBusinessConnection</name>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </constants>
    <constants>
        <name>CreditAssessmentFutureBusinessConnection</name>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </constants>
    <constants>
        <name>CreditDecision</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </constants>
    <constants>
        <name>Dutch</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NL</stringValue>
        </value>
    </constants>
    <constants>
        <name>English</name>
        <dataType>String</dataType>
        <value>
            <stringValue>EN</stringValue>
        </value>
    </constants>
    <constants>
        <name>German</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DE</stringValue>
        </value>
    </constants>
    <constants>
        <name>Germany</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Germany</stringValue>
        </value>
    </constants>
    <constants>
        <name>GoodsCreditInsurance</name>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </constants>
    <constants>
        <name>InsuranceContractIntentionOfSignatureOfInsuranceContract</name>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </constants>
    <constants>
        <name>PurchaseContractIntentionOfSignatureOfPurchaseContract</name>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </constants>
    <constants>
        <name>RealisationCheckReceivablesCollection</name>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Cancel_pressed_in_language_screen</name>
        <label>Cancel pressed in language screen</label>
        <locationX>1023</locationX>
        <locationY>176</locationY>
        <defaultConnector>
            <targetReference>Get_Creditsafe_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not cancel pressed</defaultConnectorLabel>
        <rules>
            <name>Cancel_pressed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Cancel pressed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Company_Id_Filled</name>
        <label>Is Company Id Filled</label>
        <locationX>316</locationX>
        <locationY>401</locationY>
        <defaultConnector>
            <targetReference>Assign_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Company Id not found</defaultConnectorLabel>
        <rules>
            <name>Is_Company_Id_Filled_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Buisness_Dossier_Record.Company_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Company_Id</targetReference>
            </connector>
            <label>Is Company Id Filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Company_Id_Not_Null</name>
        <label>Is Company Id Not Null</label>
        <locationX>676</locationX>
        <locationY>486</locationY>
        <defaultConnector>
            <targetReference>No_Report_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Company Id Null</defaultConnectorLabel>
        <rules>
            <name>Company_Id_Not_Null_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompanyId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_can_select_language</targetReference>
            </connector>
            <label>Company Id Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Creditsafe_Report_Created</name>
        <label>Is Creditsafe Report Created</label>
        <locationX>808</locationX>
        <locationY>337</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Creditsafe_Report_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreditsafeReport.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Dossier_record</targetReference>
            </connector>
            <label>Creditsafe Report Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_can_select_language</name>
        <label>User can select language</label>
        <locationX>489</locationX>
        <locationY>86</locationY>
        <defaultConnector>
            <targetReference>Get_Creditsafe_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User cannot select language</defaultConnectorLabel>
        <rules>
            <name>User_can_select_language_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserCanSelectLanguageOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_parameters</targetReference>
            </connector>
            <label>User can select language</label>
        </rules>
        <rules>
            <name>User_cannot_select_language_but_German</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_can_select_language_outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DossierCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_parameters</targetReference>
            </connector>
            <label>User cannot select language but German</label>
        </rules>
    </decisions>
    <formulas>
        <name>AnErrorOccured</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__an_error_occured}</expression>
    </formulas>
    <formulas>
        <name>ContractIntentionOfSignatureOfLeasingOrRentContractChoiceLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__contract_intention_of_signature_of_leasing_or_rent_contract}</expression>
    </formulas>
    <formulas>
        <name>CreditAssessmentExistingBusinessConnectionChoiceLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__credit_assessment_existing_business_connection}</expression>
    </formulas>
    <formulas>
        <name>CreditAssessmentFutureBusinessConnectionChoiceLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__credit_assessment_future_business_connection}</expression>
    </formulas>
    <formulas>
        <name>CreditDecisionChoiceLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__credit_decision}</expression>
    </formulas>
    <formulas>
        <name>GoodsCreditInsuranceChoiceLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__goods_credit_insurance}</expression>
    </formulas>
    <formulas>
        <name>InsuranceContractIntentionOfSignatureOfInsuranceContractChoiceLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__insurance_contract_intention_of_signature_of_a_insurance_contract}</expression>
    </formulas>
    <formulas>
        <name>NoCompanyIdFoundMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__no_company_id_found}</expression>
    </formulas>
    <formulas>
        <name>PurchaseContractIntentionOfSignatureOfPurchaseContractChoiceLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__purchase_contract_intention_of_signature_of_purchase_contract}</expression>
    </formulas>
    <formulas>
        <name>RealisationCheckReceivablesCollectionChoiceLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__realisation_check_receivables_collection}</expression>
    </formulas>
    <interviewLabel>Get Creditsafe Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Creditsafe Report</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Buisness_Dossier_Record</name>
        <label>Get Buisness Dossier Record</label>
        <locationX>149</locationX>
        <locationY>399</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Company_Id_Filled</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Dossier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Relate_Credisafe_Report_And_Business_Dossier</name>
        <label>Relate Credisafe Report And Business Dossier</label>
        <locationX>1323</locationX>
        <locationY>332</locationY>
        <connector>
            <targetReference>Navigation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreditsafeReport.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Dossier__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Creditsafe_Company_Report_Full__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Dossier_record</name>
        <label>Update the Dossier record</label>
        <locationX>1190</locationX>
        <locationY>332</locationY>
        <connector>
            <targetReference>Relate_Credisafe_Report_And_Business_Dossier</targetReference>
        </connector>
        <filters>
            <field>Company_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Company_Id__c</field>
            <value>
                <elementReference>CompanyId</elementReference>
            </value>
        </inputAssignments>
        <object>Business_Dossier__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Handling_Screen</name>
        <label>Error Handling Screen</label>
        <locationX>1356</locationX>
        <locationY>594</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;{!AnErrorOccured}&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_parameters</name>
        <label>Input parameters</label>
        <locationX>1030</locationX>
        <locationY>35</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cancel_pressed_in_language_screen</targetReference>
        </connector>
        <fields>
            <name>Language</name>
            <choiceReferences>EnglishLanguage</choiceReferences>
            <choiceReferences>DutchLanguage</choiceReferences>
            <choiceReferences>GermanLanguage</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>EnglishLanguage</defaultSelectedChoiceReference>
            <fieldText>Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserCanSelectLanguageOutcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reason</name>
            <choiceReferences>CreditDecisionChoice</choiceReferences>
            <choiceReferences>CreditAssessmentFutureBusinessConnectionChoice</choiceReferences>
            <choiceReferences>CreditAssessmentExistingBusinessConnectionChoice</choiceReferences>
            <choiceReferences>RealisationCheckReceivablesCollectionChoice</choiceReferences>
            <choiceReferences>PurchaseContractIntentionOfSignatureOfPurchaseContractChoice</choiceReferences>
            <choiceReferences>GoodsCreditInsuranceChoice</choiceReferences>
            <choiceReferences>ContractIntentionOfSignatureOfLeasingOrRentContractChoice</choiceReferences>
            <choiceReferences>InsuranceContractIntentionOfSignatureOfInsuranceContractChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>DossierCountry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>German</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DossierCountry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Germany</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>languageSelectionScreenFooter</name>
            <extensionName>appsolutely:reportFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CancelPressed</assignToReference>
                <name>cancelPressed</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Navigation</name>
        <label>Navigation</label>
        <locationX>1445</locationX>
        <locationY>332</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NavigateToCreditsafeReport</name>
            <extensionName>appsolutely:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CreditsafeReport.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Report_screen</name>
        <label>No Report</label>
        <locationX>1255</locationX>
        <locationY>493</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Report_Generated</name>
            <fieldText>&lt;p&gt;{!NoCompanyIdFoundMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EndFlowFooter</name>
            <extensionName>appsolutely:finishFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>37</locationX>
        <locationY>399</locationY>
        <connector>
            <targetReference>Get_Buisness_Dossier_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CancelPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CompanyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Countries</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreditsafeReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Creditsafe_Company_Report_Full__c</objectType>
    </variables>
    <variables>
        <name>DossierCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Buisness_Dossier_Record.Country__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserCanSelectLanguageOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
