force-app/main/default/flows/Get_Creditsafe_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End</name>
        <label>End</label>
        <locationX>963</locationX>
        <locationY>841</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <actionCalls>
        <name>Get_Creditsafe_Report</name>
        <label>Get Creditsafe Report</label>
        <locationX>472</locationX>
        <locationY>624</locationY>
        <actionName>GetCreditsafeFullReportInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_the_Dossier_record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Fault_Message</targetReference>
        </faultConnector>
        <inputParameters>
            <name>companyId</name>
            <value>
                <elementReference>CompanyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>language</name>
            <value>
                <elementReference>Language</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reason</name>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CreditsafeReport</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Error_Message</name>
        <label>Assign Error Message</label>
        <locationX>797</locationX>
        <locationY>131</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessageFromFlowOrInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LanguageInputError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Input_parameters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fault_Message</name>
        <label>Assign Fault Message</label>
        <locationX>668</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessageFromFlowOrInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Input_parameters</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ContractIntentionOfSignatureOfLeasingOrRentContractChoice</name>
        <choiceText>&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!ContractIntentionOfSignatureOfLeasingOrRentContractChoiceLabel}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ContractIntentionOfSignatureOfLeasingOrRentContract</elementReference>
        </value>
    </choices>
    <choices>
        <name>CreditAssessmentExistingBusinessConnectionChoice</name>
        <choiceText>{!CreditAssessmentExistingBusinessConnectionChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CreditAssessmentExistingBusinessConnection</elementReference>
        </value>
    </choices>
    <choices>
        <name>CreditAssessmentFutureBusinessConnectionChoice</name>
        <choiceText>{!CreditAssessmentFutureBusinessConnectionChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CreditAssessmentFutureBusinessConnection</elementReference>
        </value>
    </choices>
    <choices>
        <name>CreditDecisionChoice</name>
        <choiceText>{!CreditDecisionChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CreditDecision</elementReference>
        </value>
    </choices>
    <choices>
        <name>DutchLanguage</name>
        <choiceText>{!Dutch}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Dutch</elementReference>
        </value>
    </choices>
    <choices>
        <name>EnglishLanguage</name>
        <choiceText>{!English}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>English</elementReference>
        </value>
    </choices>
    <choices>
        <name>GermanLanguage</name>
        <choiceText>{!German}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>German</elementReference>
        </value>
    </choices>
    <choices>
        <name>GoodsCreditInsuranceChoice</name>
        <choiceText>{!GoodsCreditInsuranceChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>GoodsCreditInsurance</elementReference>
        </value>
    </choices>
    <choices>
        <name>InsuranceContractIntentionOfSignatureOfInsuranceContractChoice</name>
        <choiceText>{!InsuranceContractIntentionOfSignatureOfInsuranceContractChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>InsuranceContractIntentionOfSignatureOfInsuranceContract</elementReference>
        </value>
    </choices>
    <choices>
        <name>PurchaseContractIntentionOfSignatureOfPurchaseContractChoice</name>
        <choiceText>{!PurchaseContractIntentionOfSignatureOfPurchaseContractChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>PurchaseContractIntentionOfSignatureOfPurchaseContract</elementReference>
        </value>
    </choices>
    <choices>
        <name>RealisationCheckReceivablesCollectionChoice</name>
        <choiceText>{!RealisationCheckReceivablesCollectionChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>RealisationCheckReceivablesCollection</elementReference>
        </value>
    </choices>
    <constants>
        <name>ContractIntentionOfSignatureOfLeasingOrRentContract</name>
        <dataType>String</dataType>
        <value>
            <stringValue>7</stringValue>
        </value>
    </constants>
    <constants>
        <name>CreditAssessmentExistingBusinessConnection</name>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </constants>
    <constants>
        <name>CreditAssessmentFutureBusinessConnection</name>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </constants>
    <constants>
        <name>CreditDecision</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </constants>
    <constants>
        <name>Dutch</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NL</stringValue>
        </value>
    </constants>
    <constants>
        <name>English</name>
        <dataType>String</dataType>
        <value>
            <stringValue>EN</stringValue>
        </value>
    </constants>
    <constants>
        <name>German</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DE</stringValue>
        </value>
    </constants>
    <constants>
        <name>Germany</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Germany</stringValue>
        </value>
    </constants>
    <constants>
        <name>GoodsCreditInsurance</name>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </constants>
    <constants>
        <name>InsuranceContractIntentionOfSignatureOfInsuranceContract</name>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </constants>
    <constants>
        <name>PurchaseContractIntentionOfSignatureOfPurchaseContract</name>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </constants>
    <constants>
        <name>RealisationCheckReceivablesCollection</name>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Cancel_pressed_in_language_screen</name>
        <label>Cancel pressed in language screen</label>
        <locationX>951</locationX>
        <locationY>608</locationY>
        <defaultConnector>
            <targetReference>Get_Creditsafe_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not cancel pressed</defaultConnectorLabel>
        <rules>
            <name>Cancel_pressed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Cancel pressed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Language_Selected</name>
        <label>Check Language Selected</label>
        <locationX>952</locationX>
        <locationY>234</locationY>
        <defaultConnector>
            <targetReference>Cancel_pressed_in_language_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Correct Input</defaultConnectorLabel>
        <rules>
            <name>Is_Language_DE_and_Country_Not_DE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GermanLanguage</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputBusinessDossier.Registration_Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_Message</targetReference>
            </connector>
            <label>Is Language DE and Country Not DE</label>
        </rules>
        <rules>
            <name>Is_Language_NL_and_Country_Not_NL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DutchLanguage</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputBusinessDossier.Registration_Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_Message</targetReference>
            </connector>
            <label>Is Language NL and Country Not NL</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_can_select_language</name>
        <label>User can select language</label>
        <locationX>256</locationX>
        <locationY>243</locationY>
        <defaultConnector>
            <targetReference>Get_Creditsafe_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User cannot select language</defaultConnectorLabel>
        <rules>
            <name>User_can_select_language_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserCanSelectLanguageOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_parameters</targetReference>
            </connector>
            <label>User can select language</label>
        </rules>
        <rules>
            <name>User_cannot_select_language_but_German</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_can_select_language_outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputBusinessDossier.Registration_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_parameters</targetReference>
            </connector>
            <label>User cannot select language but German</label>
        </rules>
    </decisions>
    <description>This flow can be used as subflows. For example, it can used to create another flow (which can be used as quick action) on specific object.</description>
    <formulas>
        <name>AnErrorOccured</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__an_error_occured}</expression>
    </formulas>
    <formulas>
        <name>ContractIntentionOfSignatureOfLeasingOrRentContractChoiceLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__contract_intention_of_signature_of_leasing_or_rent_contract}</expression>
    </formulas>
    <formulas>
        <name>CreditAssessmentExistingBusinessConnectionChoiceLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__credit_assessment_existing_business_connection}</expression>
    </formulas>
    <formulas>
        <name>CreditAssessmentFutureBusinessConnectionChoiceLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__credit_assessment_future_business_connection}</expression>
    </formulas>
    <formulas>
        <name>CreditDecisionChoiceLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__credit_decision}</expression>
    </formulas>
    <formulas>
        <name>CreditsafeReportCreatedLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__creditsafe_report_created}</expression>
    </formulas>
    <formulas>
        <name>GoodsCreditInsuranceChoiceLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__goods_credit_insurance}</expression>
    </formulas>
    <formulas>
        <name>InsuranceContractIntentionOfSignatureOfInsuranceContractChoiceLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__insurance_contract_intention_of_signature_of_a_insurance_contract}</expression>
    </formulas>
    <formulas>
        <name>LanguageInputError</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__language_input_error}</expression>
    </formulas>
    <formulas>
        <name>NoCompanyIdFoundMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__no_company_id_found}</expression>
    </formulas>
    <formulas>
        <name>PurchaseContractIntentionOfSignatureOfPurchaseContractChoiceLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__purchase_contract_intention_of_signature_of_purchase_contract}</expression>
    </formulas>
    <formulas>
        <name>RealisationCheckReceivablesCollectionChoiceLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__realisation_check_receivables_collection}</expression>
    </formulas>
    <interviewLabel>Get Creditsafe Report {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Get Creditsafe Report</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_the_Dossier_record</name>
        <label>Update the Dossier record</label>
        <locationX>472</locationX>
        <locationY>829</locationY>
        <connector>
            <targetReference>Navigation</targetReference>
        </connector>
        <filters>
            <field>Company_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputBusinessDossier.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Company_Id__c</field>
            <value>
                <elementReference>CompanyId</elementReference>
            </value>
        </inputAssignments>
        <object>Business_Dossier__c</object>
    </recordUpdates>
    <screens>
        <name>Input_parameters</name>
        <label>Input parameters</label>
        <locationX>652</locationX>
        <locationY>231</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Language_Selected</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <extensionName>appsolutely:flowErrorHandler</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>ErrorMessageFromFlowOrInput</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ErrorMessageFromFlowOrInput</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Language</name>
            <choiceReferences>EnglishLanguage</choiceReferences>
            <choiceReferences>DutchLanguage</choiceReferences>
            <choiceReferences>GermanLanguage</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>EnglishLanguage</defaultSelectedChoiceReference>
            <fieldText>Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserCanSelectLanguageOutcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reason</name>
            <choiceReferences>CreditDecisionChoice</choiceReferences>
            <choiceReferences>CreditAssessmentFutureBusinessConnectionChoice</choiceReferences>
            <choiceReferences>CreditAssessmentExistingBusinessConnectionChoice</choiceReferences>
            <choiceReferences>RealisationCheckReceivablesCollectionChoice</choiceReferences>
            <choiceReferences>PurchaseContractIntentionOfSignatureOfPurchaseContractChoice</choiceReferences>
            <choiceReferences>GoodsCreditInsuranceChoice</choiceReferences>
            <choiceReferences>ContractIntentionOfSignatureOfLeasingOrRentContractChoice</choiceReferences>
            <choiceReferences>InsuranceContractIntentionOfSignatureOfInsuranceContractChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>InputBusinessDossier.Registration_Country__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Germany</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>InputBusinessDossier.Registration_Country__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>DE</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>languageSelectionScreenFooter</name>
            <extensionName>appsolutely:reportFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CancelPressed</assignToReference>
                <name>cancelPressed</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Navigation</name>
        <label>Navigation</label>
        <locationX>665</locationX>
        <locationY>828</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NavigateToCreditsafeReport</name>
            <extensionName>appsolutely:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CreditsafeReport.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>241</locationY>
        <connector>
            <targetReference>User_can_select_language</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CancelPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CompanyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Countries</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreditsafeReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Creditsafe_Company_Report_Full__c</objectType>
    </variables>
    <variables>
        <name>ErrorMessageFromFlowOrInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputBusinessDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>UserCanSelectLanguageOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
