force-app/main/default/flows/Get_Creditsafe_Report_Quick_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <actionCalls>
        <name>Get_for_Company_IDs</name>
        <label>Get for Company IDs</label>
        <locationX>806</locationX>
        <locationY>1143</locationY>
        <actionName>GetCompanyIdsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Creditsafe_Report_For_Dossier</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handling_Screen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>countries</name>
            <value>
                <elementReference>Countries</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>registration_number</name>
            <value>
                <elementReference>Get_Buisness_Dossier_Record.Dossier_Number__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CompanyId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Country</name>
        <label>Assign Country</label>
        <locationX>333</locationX>
        <locationY>1144</locationY>
        <assignmentItems>
            <assignToReference>Countries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Buisness_Dossier_Record.Registration_Country__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_for_Company_IDs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ContractIntentionOfSignatureOfLeasingOrRentContractChoice</name>
        <choiceText>&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!ContractIntentionOfSignatureOfLeasingOrRentContractChoiceLabel}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ContractIntentionOfSignatureOfLeasingOrRentContract</elementReference>
        </value>
    </choices>
    <choices>
        <name>CreditAssessmentExistingBusinessConnectionChoice</name>
        <choiceText>{!CreditAssessmentExistingBusinessConnectionChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CreditAssessmentExistingBusinessConnection</elementReference>
        </value>
    </choices>
    <choices>
        <name>CreditAssessmentFutureBusinessConnectionChoice</name>
        <choiceText>{!CreditAssessmentFutureBusinessConnectionChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CreditAssessmentFutureBusinessConnection</elementReference>
        </value>
    </choices>
    <choices>
        <name>CreditDecisionChoice</name>
        <choiceText>{!CreditDecisionChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CreditDecision</elementReference>
        </value>
    </choices>
    <choices>
        <name>DutchLanguage</name>
        <choiceText>{!Dutch}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Dutch</elementReference>
        </value>
    </choices>
    <choices>
        <name>EnglishLanguage</name>
        <choiceText>{!English}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>English</elementReference>
        </value>
    </choices>
    <choices>
        <name>GermanLanguage</name>
        <choiceText>{!German}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>German</elementReference>
        </value>
    </choices>
    <choices>
        <name>GoodsCreditInsuranceChoice</name>
        <choiceText>{!GoodsCreditInsuranceChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>GoodsCreditInsurance</elementReference>
        </value>
    </choices>
    <choices>
        <name>InsuranceContractIntentionOfSignatureOfInsuranceContractChoice</name>
        <choiceText>{!InsuranceContractIntentionOfSignatureOfInsuranceContractChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>InsuranceContractIntentionOfSignatureOfInsuranceContract</elementReference>
        </value>
    </choices>
    <choices>
        <name>PurchaseContractIntentionOfSignatureOfPurchaseContractChoice</name>
        <choiceText>{!PurchaseContractIntentionOfSignatureOfPurchaseContractChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>PurchaseContractIntentionOfSignatureOfPurchaseContract</elementReference>
        </value>
    </choices>
    <choices>
        <name>RealisationCheckReceivablesCollectionChoice</name>
        <choiceText>{!RealisationCheckReceivablesCollectionChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>RealisationCheckReceivablesCollection</elementReference>
        </value>
    </choices>
    <constants>
        <name>ContractIntentionOfSignatureOfLeasingOrRentContract</name>
        <dataType>String</dataType>
        <value>
            <stringValue>7</stringValue>
        </value>
    </constants>
    <constants>
        <name>CreditAssessmentExistingBusinessConnection</name>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </constants>
    <constants>
        <name>CreditAssessmentFutureBusinessConnection</name>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </constants>
    <constants>
        <name>CreditDecision</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </constants>
    <constants>
        <name>Dutch</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NL</stringValue>
        </value>
    </constants>
    <constants>
        <name>DutchBusinessRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Dutch_Business</stringValue>
        </value>
    </constants>
    <constants>
        <name>English</name>
        <dataType>String</dataType>
        <value>
            <stringValue>EN</stringValue>
        </value>
    </constants>
    <constants>
        <name>German</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DE</stringValue>
        </value>
    </constants>
    <constants>
        <name>Germany</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Germany</stringValue>
        </value>
    </constants>
    <constants>
        <name>GoodsCreditInsurance</name>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </constants>
    <constants>
        <name>InsuranceContractIntentionOfSignatureOfInsuranceContract</name>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </constants>
    <constants>
        <name>PurchaseContractIntentionOfSignatureOfPurchaseContract</name>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </constants>
    <constants>
        <name>RealisationCheckReceivablesCollection</name>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Type_of_Business_Dossier</name>
        <label>Type of Business Dossier</label>
        <locationX>325</locationX>
        <locationY>930</locationY>
        <defaultConnector>
            <targetReference>Get_Creditsafe_Report_For_Dossier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Creditsafe Business Dossier</defaultConnectorLabel>
        <rules>
            <name>Is_Dutch_Business_Dossier_with_No_Company_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Buisness_Dossier_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DutchBusinessRecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Buisness_Dossier_Record.Company_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Country</targetReference>
            </connector>
            <label>Is Dutch Business Dossier with No Company Id</label>
        </rules>
        <rules>
            <name>Is_Dutch_Business_Dossier_with_Company_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Buisness_Dossier_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DutchBusinessRecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Buisness_Dossier_Record.Company_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Creditsafe_Report_For_Dossier</targetReference>
            </connector>
            <label>Is Dutch Business Dossier with Company Id</label>
        </rules>
    </decisions>
    <formulas>
        <name>AnErrorOccured</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__an_error_occured}</expression>
    </formulas>
    <formulas>
        <name>ContractIntentionOfSignatureOfLeasingOrRentContractChoiceLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__contract_intention_of_signature_of_leasing_or_rent_contract}</expression>
    </formulas>
    <formulas>
        <name>CreditAssessmentExistingBusinessConnectionChoiceLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__credit_assessment_existing_business_connection}</expression>
    </formulas>
    <formulas>
        <name>CreditAssessmentFutureBusinessConnectionChoiceLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__credit_assessment_future_business_connection}</expression>
    </formulas>
    <formulas>
        <name>CreditDecisionChoiceLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__credit_decision}</expression>
    </formulas>
    <formulas>
        <name>GoodsCreditInsuranceChoiceLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__goods_credit_insurance}</expression>
    </formulas>
    <formulas>
        <name>InsuranceContractIntentionOfSignatureOfInsuranceContractChoiceLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__insurance_contract_intention_of_signature_of_a_insurance_contract}</expression>
    </formulas>
    <formulas>
        <name>NoCompanyIdFoundMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__no_company_id_found}</expression>
    </formulas>
    <formulas>
        <name>PurchaseContractIntentionOfSignatureOfPurchaseContractChoiceLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__purchase_contract_intention_of_signature_of_purchase_contract}</expression>
    </formulas>
    <formulas>
        <name>RealisationCheckReceivablesCollectionChoiceLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__realisation_check_receivables_collection}</expression>
    </formulas>
    <interviewLabel>Get Creditsafe Report Quick Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Creditsafe Report Quick Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Buisness_Dossier_Record</name>
        <label>Get Buisness Dossier Record</label>
        <locationX>192</locationX>
        <locationY>928</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_of_Business_Dossier</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Dossier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Handling_Screen</name>
        <label>Error Handling Screen</label>
        <locationX>804</locationX>
        <locationY>1301</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;{!AnErrorOccured}&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>39</locationX>
        <locationY>928</locationY>
        <connector>
            <targetReference>Get_Buisness_Dossier_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Creditsafe_Report_For_Dossier</name>
        <label>Get Creditsafe Report For Dossier</label>
        <locationX>806</locationX>
        <locationY>926</locationY>
        <flowName>Get_Creditsafe_Report</flowName>
        <inputAssignments>
            <name>CompanyId</name>
            <value>
                <elementReference>CompanyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputBusinessDossier</name>
            <value>
                <elementReference>Get_Buisness_Dossier_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CancelPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CompanyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Buisness_Dossier_Record.Company_Id__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Countries</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreditsafeReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Creditsafe_Company_Report_Full__c</objectType>
    </variables>
    <variables>
        <name>DossierCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Buisness_Dossier_Record.Country__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserCanSelectLanguageOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
