force-app/main/default/flows/Get_Creditsafe_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End</name>
        <label>End</label>
        <locationX>1178</locationX>
        <locationY>370</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <actionCalls>
        <name>Get_Creditsafe_Report</name>
        <label>Get Creditsafe Report</label>
        <locationX>734</locationX>
        <locationY>240</locationY>
        <actionName>GetCreditsafeFullReportInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Creditsafe_Report_Created</targetReference>
        </connector>
        <inputParameters>
            <name>companyId</name>
            <value>
                <elementReference>CompanyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>language</name>
            <value>
                <elementReference>Language</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reason</name>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CreditsafeReport</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Search_for_Company_ID</name>
        <label>Search for Company ID</label>
        <locationX>473</locationX>
        <locationY>621</locationY>
        <actionName>GetCompanyIdInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Company_Id_Not_Null</targetReference>
        </connector>
        <inputParameters>
            <name>countries</name>
            <value>
                <elementReference>Countries</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>registration_number</name>
            <value>
                <elementReference>Get_Buisness_Dossier_Record.Dossier_Number__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CompanyId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Company_Id</name>
        <label>Assign Company Id</label>
        <locationX>325</locationX>
        <locationY>198</locationY>
        <assignmentItems>
            <assignToReference>CompanyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Buisness_Dossier_Record.Company_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_can_select_language</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Country</name>
        <label>Assign Country</label>
        <locationX>327</locationX>
        <locationY>621</locationY>
        <assignmentItems>
            <assignToReference>Countries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Buisness_Dossier_Record.Registration_Country__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_for_Company_ID</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ContractIntentionOfSignatureOfLeasingOrRentContractChoice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Contract Intention Of Signature Of Leasing Or Rent Contract&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ContractIntentionOfSignatureOfLeasingOrRentContract</elementReference>
        </value>
    </choices>
    <choices>
        <name>CreditAssessmentExistingBusinessConnectionChoice</name>
        <choiceText>Credit Assessment Existing Business Connection</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CreditAssessmentExistingBusinessConnection</elementReference>
        </value>
    </choices>
    <choices>
        <name>CreditAssessmentFutureBusinessConnectionChoice</name>
        <choiceText>Credit Assessment Future Business Connection</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CreditAssessmentFutureBusinessConnection</elementReference>
        </value>
    </choices>
    <choices>
        <name>CreditDecisionChoice</name>
        <choiceText>Credit Decision</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CreditDecision</elementReference>
        </value>
    </choices>
    <choices>
        <name>DutchLanguage</name>
        <choiceText>{!Dutch}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Dutch</elementReference>
        </value>
    </choices>
    <choices>
        <name>EnglishLanguage</name>
        <choiceText>{!English}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>English</elementReference>
        </value>
    </choices>
    <choices>
        <name>GermanLanguage</name>
        <choiceText>{!German}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>German</elementReference>
        </value>
    </choices>
    <choices>
        <name>GoodsCreditInsuranceChoice</name>
        <choiceText>Goods Credit Insurance</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>GoodsCreditInsurance</elementReference>
        </value>
    </choices>
    <choices>
        <name>InsuranceContractIntentionOfSignatureOfInsuranceContractChoice</name>
        <choiceText>Insurance Contract Intention Of Signature Of Insurance Contract</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>InsuranceContractIntentionOfSignatureOfInsuranceContract</elementReference>
        </value>
    </choices>
    <choices>
        <name>PurchaseContractIntentionOfSignatureOfPurchaseContractChoice</name>
        <choiceText>Purchase Contract Intention Of Signature Of Purchase Contract</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>PurchaseContractIntentionOfSignatureOfPurchaseContract</elementReference>
        </value>
    </choices>
    <choices>
        <name>RealisationCheckReceivablesCollectionChoice</name>
        <choiceText>Realisation Check Receivables Collection</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>RealisationCheckReceivablesCollection</elementReference>
        </value>
    </choices>
    <constants>
        <name>ContractIntentionOfSignatureOfLeasingOrRentContract</name>
        <dataType>String</dataType>
        <value>
            <stringValue>7</stringValue>
        </value>
    </constants>
    <constants>
        <name>CreditAssessmentExistingBusinessConnection</name>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </constants>
    <constants>
        <name>CreditAssessmentFutureBusinessConnection</name>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </constants>
    <constants>
        <name>CreditDecision</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </constants>
    <constants>
        <name>Dutch</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NL</stringValue>
        </value>
    </constants>
    <constants>
        <name>English</name>
        <dataType>String</dataType>
        <value>
            <stringValue>EN</stringValue>
        </value>
    </constants>
    <constants>
        <name>German</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DE</stringValue>
        </value>
    </constants>
    <constants>
        <name>Germany</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Germany</stringValue>
        </value>
    </constants>
    <constants>
        <name>GoodsCreditInsurance</name>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </constants>
    <constants>
        <name>InsuranceContractIntentionOfSignatureOfInsuranceContract</name>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </constants>
    <constants>
        <name>PurchaseContractIntentionOfSignatureOfPurchaseContract</name>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </constants>
    <constants>
        <name>RealisationCheckReceivablesCollection</name>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Cancel_pressed_in_language_screen</name>
        <label>Cancel pressed in language screen</label>
        <locationX>1169</locationX>
        <locationY>147</locationY>
        <defaultConnector>
            <targetReference>Get_Creditsafe_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not cancel pressed</defaultConnectorLabel>
        <rules>
            <name>Cancel_pressed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Cancel pressed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Company_Id_Filled</name>
        <label>Is Company Id Filled</label>
        <locationX>316</locationX>
        <locationY>401</locationY>
        <defaultConnector>
            <targetReference>Assign_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Company Id not found</defaultConnectorLabel>
        <rules>
            <name>Is_Company_Id_Filled_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Buisness_Dossier_Record.Company_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Company_Id</targetReference>
            </connector>
            <label>Is Company Id Filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Company_Id_Not_Null</name>
        <label>Is Company Id Not Null</label>
        <locationX>599</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>No_Report_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Company Id Null</defaultConnectorLabel>
        <rules>
            <name>Company_Id_Not_Null_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompanyId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_can_select_language</targetReference>
            </connector>
            <label>Company Id Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Creditsafe_Report_Created</name>
        <label>Is Creditsafe Report Created</label>
        <locationX>890</locationX>
        <locationY>340</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Creditsafe_Report_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreditsafeReport.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Dossier_record</targetReference>
            </connector>
            <label>Creditsafe Report Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_can_select_language</name>
        <label>User can select language</label>
        <locationX>436</locationX>
        <locationY>55</locationY>
        <defaultConnector>
            <targetReference>Get_Creditsafe_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User cannot select language</defaultConnectorLabel>
        <rules>
            <name>User_can_select_language_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserCanSelectOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_parameters</targetReference>
            </connector>
            <label>User can select language</label>
        </rules>
        <rules>
            <name>User_cannot_select_language_but_German</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_can_select_language_outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DossierCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_parameters</targetReference>
            </connector>
            <label>User cannot select language but German</label>
        </rules>
    </decisions>
    <interviewLabel>Get Creditsafe Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Creditsafe Report</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Buisness_Dossier_Record</name>
        <label>Get Buisness Dossier Record</label>
        <locationX>149</locationX>
        <locationY>399</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Company_Id_Filled</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Dossier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Relate_Credisafe_Report_And_Business_Dossier</name>
        <label>Relate Credisafe Report And Business Dossier</label>
        <locationX>1190</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Navigation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreditsafeReport.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Data__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Creditsafe_Company_Report_Full__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Dossier_record</name>
        <label>Update the Dossier record</label>
        <locationX>1045</locationX>
        <locationY>493</locationY>
        <connector>
            <targetReference>Relate_Credisafe_Report_And_Business_Dossier</targetReference>
        </connector>
        <filters>
            <field>Company_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Company_Id__c</field>
            <value>
                <elementReference>CompanyId</elementReference>
            </value>
        </inputAssignments>
        <object>Business_Dossier__c</object>
    </recordUpdates>
    <screens>
        <name>Input_parameters</name>
        <label>Input parameters</label>
        <locationX>943</locationX>
        <locationY>46</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cancel_pressed_in_language_screen</targetReference>
        </connector>
        <fields>
            <name>Language</name>
            <choiceReferences>EnglishLanguage</choiceReferences>
            <choiceReferences>DutchLanguage</choiceReferences>
            <choiceReferences>GermanLanguage</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>EnglishLanguage</defaultSelectedChoiceReference>
            <fieldText>Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserCanSelectOutcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reason</name>
            <choiceReferences>CreditDecisionChoice</choiceReferences>
            <choiceReferences>CreditAssessmentFutureBusinessConnectionChoice</choiceReferences>
            <choiceReferences>CreditAssessmentExistingBusinessConnectionChoice</choiceReferences>
            <choiceReferences>RealisationCheckReceivablesCollectionChoice</choiceReferences>
            <choiceReferences>PurchaseContractIntentionOfSignatureOfPurchaseContractChoice</choiceReferences>
            <choiceReferences>GoodsCreditInsuranceChoice</choiceReferences>
            <choiceReferences>ContractIntentionOfSignatureOfLeasingOrRentContractChoice</choiceReferences>
            <choiceReferences>InsuranceContractIntentionOfSignatureOfInsuranceContractChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>DossierCountry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>German</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DossierCountry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Germany</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>languageSelectionScreenFooter</name>
            <extensionName>appsolutely:reportFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showCancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CancelPressed</assignToReference>
                <name>cancelPressed</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Navigation</name>
        <label>Navigation</label>
        <locationX>1314</locationX>
        <locationY>482</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NavigateToCreditsafeReport</name>
            <extensionName>appsolutely:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CreditsafeReport.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Report_screen</name>
        <label>No Report</label>
        <locationX>807</locationX>
        <locationY>621</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Report</name>
            <fieldText>&lt;p&gt;Creditsafe Report could not be generated as Company Id is not available at Company.info&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EndFlowFooter</name>
            <extensionName>appsolutely:finishFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showCancelButton</name>
                <value>
                    <elementReference>Cancel_pressed</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CancelPressed</assignToReference>
                <name>cancelPressed</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>37</locationX>
        <locationY>399</locationY>
        <connector>
            <targetReference>Get_Buisness_Dossier_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CancelPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CompanyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Countries</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreditsafeReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Creditsafe_Company_Report_Full__c</objectType>
    </variables>
    <variables>
        <name>DossierCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Buisness_Dossier_Record.Country__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>DossierRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserCanSelectOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
