force-app/main/default/flows/Get_Creditsafe_Report_Global_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <actionCalls>
        <name>End</name>
        <label>End</label>
        <locationX>448</locationX>
        <locationY>374</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <decisions>
        <name>Cancel_Pressed</name>
        <label>Cancel Pressed</label>
        <locationX>439</locationX>
        <locationY>173</locationY>
        <defaultConnector>
            <targetReference>Get_Creditsafe_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel Not Pressed</defaultConnectorLabel>
        <rules>
            <name>Cancel_Pressed_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Cancel Pressed</label>
        </rules>
    </decisions>
    <interviewLabel>Get Creditsafe Report Global Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Creditsafe Report Global Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>175</locationY>
        <connector>
            <targetReference>Search_Dossiers</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Creditsafe_Report</name>
        <label>Get Creditsafe Report</label>
        <locationX>682</locationX>
        <locationY>165</locationY>
        <flowName>Get_Creditsafe_Report_Quick_Action</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>CreatedDossier.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Search_Dossiers</name>
        <label>Search Dossiers</label>
        <locationX>234</locationX>
        <locationY>173</locationY>
        <connector>
            <targetReference>Cancel_Pressed</targetReference>
        </connector>
        <flowName>Organisation_Search_Flow</flowName>
        <outputAssignments>
            <assignToReference>cancelPressed</assignToReference>
            <name>cancelPressed</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreatedDossier</assignToReference>
            <name>selectedDossier</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>cancelPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
</Flow>
