force-app/main/default/flows/Organisation_Search_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>Decides which search method to call based on the selected country</description>
        <name>Decide_search_method</name>
        <label>Decide search method</label>
        <locationX>367</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreditSafe_search_v2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NL</stringValue>
                </rightValue>
            </conditions>
            <label>CreditSafe search v2</label>
        </rules>
        <rules>
            <name>Dutch_Dossier_v3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NL</stringValue>
                </rightValue>
            </conditions>
            <label>Dutch Dossier v3</label>
        </rules>
    </decisions>
    <interviewLabel>Orga {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Organisation Search Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Search</name>
        <label>Search</label>
        <locationX>203</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decide_search_method</targetReference>
        </connector>
        <fields>
            <name>organisationSearchForm</name>
            <extensionName>appsolutely:organisationSearchForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>houseNumber</name>
                <value>
                    <elementReference>HouseNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>houseNumberAddition</name>
                <value>
                    <elementReference>HouseNumberAddition</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tradeName</name>
                <value>
                    <elementReference>TradeName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedCountry</name>
                <value>
                    <elementReference>SelectedCountry</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>City</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>HouseNumber</assignToReference>
                <name>houseNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>HouseNumberAddition</assignToReference>
                <name>houseNumberAddition</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Street</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Street</assignToReference>
                <name>street</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>TradeName</assignToReference>
                <name>tradeName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedCountry</assignToReference>
                <name>selectedCountry</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Search</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>The city to search for</description>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The house number searched for</description>
        <name>HouseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The house number addition searched for</description>
        <name>HouseNumberAddition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The postal code searched for</description>
        <name>PostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The Country Selected</description>
        <name>SelectedCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>NL</stringValue>
        </value>
    </variables>
    <variables>
        <description>The street searched for</description>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The trade name to search for</description>
        <name>TradeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
