force-app/main/default/flows/Organisation_Search_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Fetches the dossiers from the Company.info backend and creates them in the database.</description>
        <name>Create_Dutch_Dossiers</name>
        <label>Create Dutch Dossiers</label>
        <locationX>811</locationX>
        <locationY>648</locationY>
        <actionName>CreateDutchDossierInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Dutch_Dossiers_Search_Results</targetReference>
        </faultConnector>
        <inputParameters>
            <name>getVat</name>
            <value>
                <elementReference>VATEnrichmentRequired</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>establishmentNumber</name>
            <value>
                <elementReference>selectedDossier.Establishment_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dossierNumber</name>
            <value>
                <elementReference>selectedDossier.Dossier_Number__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>selectedDossier</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>An end point for the flow. Actions/screens that need to have fault error handling and that are at the end of the flow, can use this for the &#39;normal&#39; end flow.</description>
        <name>End</name>
        <label>End</label>
        <locationX>811</locationX>
        <locationY>379</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <actionCalls>
        <name>Search_for_Credit_Safe_Dossiers</name>
        <label>Search for Credit Safe Dossiers</label>
        <locationX>212</locationX>
        <locationY>42</locationY>
        <actionName>SearchForCreditSafeDossiersInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Credit_Safe_Search_Results</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Search</targetReference>
        </faultConnector>
        <inputParameters>
            <name>city</name>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>countries</name>
            <value>
                <elementReference>Countries</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>CreditSafeRegistrationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Name</name>
            <value>
                <elementReference>TradeName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postal_code</name>
            <value>
                <elementReference>PostalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>province</name>
            <value>
                <elementReference>Province</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>registration_number</name>
            <value>
                <elementReference>RegistrationNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>registration_type</name>
            <value>
                <elementReference>RegistrationType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vat_number</name>
            <value>
                <elementReference>VATNumber</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>foundBusinessDossiers</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Searches for Dutch dossiers in the Dutch Chamber of Commerce</description>
        <name>Search_for_Dutch_Dossiers</name>
        <label>Search for Dutch Dossiers</label>
        <locationX>413</locationX>
        <locationY>579</locationY>
        <actionName>SearchForDutchDossiersInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Dutch_Dossiers_Search_Results</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Search</targetReference>
        </faultConnector>
        <inputParameters>
            <name>dossier_number</name>
            <value>
                <elementReference>RegistrationNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>city</name>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain_name</name>
            <value>
                <elementReference>DomainName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>house_number</name>
            <value>
                <elementReference>HouseNumberAsIntConversion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>house_number_addition</name>
            <value>
                <elementReference>HouseNumberAddition</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postcode</name>
            <value>
                <elementReference>PostalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>telephone_number</name>
            <value>
                <elementReference>PhoneNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>trade_name</name>
            <value>
                <elementReference>TradeName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>foundBusinessDossiers</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <description>Assigns the country selected in the search screen to a list</description>
        <name>Assign_Selected_Country_to_List</name>
        <label>Assign Selected Country to List</label>
        <locationX>410</locationX>
        <locationY>135</locationY>
        <assignmentItems>
            <assignToReference>Countries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelectedCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_for_Credit_Safe_Dossiers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cancel_pressed_in_CreditSafe_search_results</name>
        <label>Cancel pressed in CreditSafe search results</label>
        <locationX>574</locationX>
        <locationY>235</locationY>
        <defaultConnector>
            <targetReference>Create_Credit_Safe_dossier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create CreditSafe dossier</defaultConnectorLabel>
        <rules>
            <name>Cancel_Pressed_Creditsafe_search_results_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Cancel Pressed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cancel_pressed_in_Dutch_search_results</name>
        <label>Cancel pressed in Dutch search results</label>
        <locationX>696</locationX>
        <locationY>515</locationY>
        <defaultConnector>
            <targetReference>Create_Dutch_Dossiers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Dutch Dossier</defaultConnectorLabel>
        <rules>
            <name>Cancel_Pressed_Dutch_search_results</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Cancel Pressed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides which search method to call based on the selected country</description>
        <name>Decide_search_method</name>
        <label>Decide search method</label>
        <locationX>403</locationX>
        <locationY>380</locationY>
        <defaultConnector>
            <targetReference>Assign_Selected_Country_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Search via Credit Safe</defaultConnectorLabel>
        <rules>
            <name>Cancel_Pressed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Cancel Pressed</label>
        </rules>
        <rules>
            <name>Search_for_Dutch_Dossiers_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_for_Dutch_Dossiers</targetReference>
            </connector>
            <label>Search for Dutch Dossiers</label>
        </rules>
    </decisions>
    <description>Search for organisations through CreditSafe or through the Dutch Chamber of Commerce. When an organisation has been found and selected fetches this organisation and inserts it into Salesforce as a Business Dossier.</description>
    <formulas>
        <name>HouseNumberAsIntConversion</name>
        <dataType>Number</dataType>
        <expression>VALUE({!HouseNumber})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Orga {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Organisation Search Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Credit_Safe_dossier</name>
        <label>Create Credit Safe dossier</label>
        <locationX>810</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Credit_Safe_Search_Results</targetReference>
        </faultConnector>
        <inputReference>selectedDossier</inputReference>
    </recordCreates>
    <screens>
        <name>Dutch_Dossiers_Search_Results</name>
        <label>Dutch Dossiers Search Results</label>
        <locationX>567</locationX>
        <locationY>579</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cancel_pressed_in_Dutch_search_results</targetReference>
        </connector>
        <fields>
            <name>flowErrorHandlerDutchResultsScreen</name>
            <extensionName>appsolutely:flowErrorHandler</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>searchResultFlowHeader_DutchBusiness</name>
            <extensionName>appsolutely:searchResultFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dutchDossiersResult</name>
            <extensionName>appsolutely:dutchDossierResults</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchResults</name>
                <value>
                    <elementReference>foundBusinessDossiers</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedDossier</assignToReference>
                <name>selectedResult</name>
            </outputParameters>
        </fields>
        <fields>
            <name>dutchSearchResultFlowFooter</name>
            <extensionName>appsolutely:searchResultFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showCancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cancelPressed</assignToReference>
                <name>cancelPressed</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Search</name>
        <label>Enter Search Criteria</label>
        <locationX>210</locationX>
        <locationY>378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decide_search_method</targetReference>
        </connector>
        <fields>
            <name>flowErrorHandlerSearchScreen</name>
            <extensionName>appsolutely:flowErrorHandler</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>searchFlowHeader</name>
            <extensionName>appsolutely:searchFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BusinessSearchForm</name>
            <extensionName>appsolutely:businessSearchForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>domainName</name>
                <value>
                    <elementReference>DomainName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>houseNumber</name>
                <value>
                    <elementReference>HouseNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>houseNumberAddition</name>
                <value>
                    <elementReference>HouseNumberAddition</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>phoneNumber</name>
                <value>
                    <elementReference>PhoneNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedCountry</name>
                <value>
                    <elementReference>SelectedCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tradeName</name>
                <value>
                    <elementReference>TradeName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dossierNumber</name>
                <value>
                    <elementReference>RegistrationNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vatNumber</name>
                <value>
                    <elementReference>VATNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Province</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>registrationNumber</name>
                <value>
                    <elementReference>RegistrationNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>registrationType</name>
                <value>
                    <elementReference>RegistrationType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>status</name>
                <value>
                    <elementReference>Status</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>creditSafeId</name>
                <value>
                    <elementReference>CreditSafeRegistrationId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>City</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DomainName</assignToReference>
                <name>domainName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>HouseNumber</assignToReference>
                <name>houseNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>HouseNumberAddition</assignToReference>
                <name>houseNumberAddition</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PhoneNumber</assignToReference>
                <name>phoneNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedCountry</assignToReference>
                <name>selectedCountry</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Street</assignToReference>
                <name>street</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>TradeName</assignToReference>
                <name>tradeName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>RegistrationNumber</assignToReference>
                <name>registrationNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>RegistrationType</assignToReference>
                <name>registrationType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Status</assignToReference>
                <name>status</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>RegistrationNumber</assignToReference>
                <name>dossierNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Province</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>VATNumber</assignToReference>
                <name>vatNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CreditSafeRegistrationId</assignToReference>
                <name>creditSafeId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>searchFlowFooter</name>
            <extensionName>appsolutely:searchFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showCancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cancelPressed</assignToReference>
                <name>cancelPressed</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Credit_Safe_Search_Results</name>
        <label>Show Credit Safe Search Results</label>
        <locationX>582</locationX>
        <locationY>34</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cancel_pressed_in_CreditSafe_search_results</targetReference>
        </connector>
        <fields>
            <name>creditSafeSearchResultFlowErrorHandler</name>
            <extensionName>appsolutely:flowErrorHandler</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>searchResultFlowHeader_CreditSafe</name>
            <extensionName>appsolutely:searchResultFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>creditSafeDossierSearchResults</name>
            <extensionName>appsolutely:creditSafeDossierSearchResults</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchResults</name>
                <value>
                    <elementReference>foundBusinessDossiers</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedDossier</assignToReference>
                <name>selectedResult</name>
            </outputParameters>
        </fields>
        <fields>
            <name>creditSafeSearchResultFlowFooter</name>
            <extensionName>appsolutely:searchResultFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cancelPressed</assignToReference>
                <name>cancelPressed</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>49</locationX>
        <locationY>378</locationY>
        <connector>
            <targetReference>Search</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddressCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cancelPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The city to search for</description>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Countries</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountryIsoCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreditSafeRegistrationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DateLastAccount</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DateLastChange</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DomainName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>foundBusinessDossiers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>FullAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The house number searched for</description>
        <name>HouseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The house number addition searched for</description>
        <name>HouseNumberAddition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HouseNumberAsInt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NextButtonTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OfficeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The phone number used in the search</description>
        <name>PhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The postal code searched for</description>
        <name>PostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Province</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegistrationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegistrationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Country Selected</description>
        <name>SelectedCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>NL</stringValue>
        </value>
    </variables>
    <variables>
        <description>The selected dossier</description>
        <name>selectedDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The street searched for</description>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The trade name to search for</description>
        <name>TradeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TradeNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VATEnrichmentRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VATNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VATNumbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
