force-app/main/default/flows/Search_International_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Search_International_Address_Invocable</name>
        <label>Search International Address Invocable</label>
        <locationX>449</locationX>
        <locationY>80</locationY>
        <actionName>SearchIntenationalAddressInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>var_Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>province</name>
            <value>
                <elementReference>var_Province</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>var_Country</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locality</name>
            <value>
                <elementReference>var_Locality</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postal_code</name>
            <value>
                <elementReference>var_Postcode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pobox</name>
            <value>
                <elementReference>var_POBox</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>building</name>
            <value>
                <elementReference>var_Building</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>housenr</name>
            <value>
                <elementReference>var_Housenr</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>organization</name>
            <value>
                <elementReference>var_Organization</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>language</name>
            <value>
                <elementReference>var_Language</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>internationalAddressInvocableData</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>598</locationX>
        <locationY>187</locationY>
        <defaultConnector>
            <targetReference>Output</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Results_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>internationalAddressInvocableData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Results</targetReference>
            </connector>
            <label>No Results Found</label>
        </rules>
    </decisions>
    <interviewLabel>Search International Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Search International Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>International_Address</name>
        <label>International Address</label>
        <locationX>252</locationX>
        <locationY>59</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Search_International_Address_Invocable</targetReference>
        </connector>
        <fields>
            <name>SearchInternationalAddress</name>
            <extensionName>appsolutely:searchInternationalAddress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_Building</assignToReference>
                <name>building</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_Country</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_Housenr</assignToReference>
                <name>housenr</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_Language</assignToReference>
                <name>language</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_Locality</assignToReference>
                <name>locality</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_Organization</assignToReference>
                <name>organization</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_POBox</assignToReference>
                <name>pobox</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_Postcode</assignToReference>
                <name>postcode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_Province</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_Street</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Results</name>
        <label>No Results</label>
        <locationX>805</locationX>
        <locationY>283</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ZeroResults</name>
            <fieldText>&lt;p&gt;Sorry no results found&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Output</name>
        <label>Output</label>
        <locationX>341</locationX>
        <locationY>277</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplaySearchResults</name>
            <extensionName>appsolutely:displaySearchResults</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>internationalAddressList</name>
                <value>
                    <elementReference>internationalAddressInvocableData</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>International_Address</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>internationalAddressInvocableData</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>International_Address__c</objectType>
    </variables>
    <variables>
        <name>var_Building</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Housenr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Locality</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Organization</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_POBox</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Postcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Province</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
