force-app/main/default/flows/Search_International_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End</name>
        <label>End</label>
        <locationX>362</locationX>
        <locationY>363</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <actionCalls>
        <name>Search_International_Address_Invocable</name>
        <label>Search International Address Invocable</label>
        <locationX>494</locationX>
        <locationY>50</locationY>
        <actionName>SearchIntenationalAddressInvocable</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>International_Address</targetReference>
        </faultConnector>
        <inputParameters>
            <name>building</name>
            <value>
                <elementReference>var_Building</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>var_Country</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>housenr</name>
            <value>
                <elementReference>var_Housenr</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>language</name>
            <value>
                <elementReference>var_Language</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locality</name>
            <value>
                <elementReference>var_Locality</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>organization</name>
            <value>
                <elementReference>var_Organization</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pobox</name>
            <value>
                <elementReference>var_POBox</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postal_code</name>
            <value>
                <elementReference>var_Postcode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>province</name>
            <value>
                <elementReference>var_Province</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>var_Street</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>internationalAddressInvocableData</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>Cancel_Pressed</name>
        <label>Cancel Pressed</label>
        <locationX>356</locationX>
        <locationY>168</locationY>
        <defaultConnector>
            <targetReference>Search_International_Address_Invocable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Cancel Pressed</defaultConnectorLabel>
        <rules>
            <name>Cancel_Pressed_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Cancel Pressed</label>
        </rules>
    </decisions>
    <interviewLabel>Search International Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Search International Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>International_Address</name>
        <label>International Address</label>
        <locationX>251</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cancel_Pressed</targetReference>
        </connector>
        <fields>
            <name>searchFlowHeader</name>
            <extensionName>appsolutely:flowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>searchFlowErrorHandler</name>
            <extensionName>appsolutely:flowErrorHandler</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>searchFlowFooter</name>
            <extensionName>appsolutely:searchFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showCancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cancelPressed</assignToReference>
                <name>cancelPressed</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>International_Address</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>cancelPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>internationalAddressInvocableData</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>International_Address__c</objectType>
    </variables>
    <variables>
        <name>var_Building</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Housenr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Locality</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Organization</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_POBox</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Postcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Province</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
