force-app/main/default/flows/TestFlow_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>invocable</name>
        <label>invocable</label>
        <locationX>222</locationX>
        <locationY>132</locationY>
        <actionName>SearchIntenationalAddressInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <inputParameters>
            <name>pobox</name>
            <value>
                <elementReference>var_POBox</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>province</name>
            <value>
                <elementReference>province</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>organization</name>
            <value>
                <elementReference>var_Organization</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>var_Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>building</name>
            <value>
                <elementReference>var_Building</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>var_Country</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postal_code</name>
            <value>
                <elementReference>var_Postcode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locality</name>
            <value>
                <elementReference>var_Province</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>country</name>
        <dataType>String</dataType>
        <value>
            <stringValue>nl</stringValue>
        </value>
    </constants>
    <constants>
        <name>org</name>
        <dataType>String</dataType>
        <value>
            <stringValue>douwe egberts</stringValue>
        </value>
    </constants>
    <constants>
        <name>postcode</name>
        <dataType>String</dataType>
        <value>
            <stringValue>3531GT</stringValue>
        </value>
    </constants>
    <constants>
        <name>province</name>
        <dataType>String</dataType>
        <value>
            <stringValue>utrecht</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>524</locationX>
        <locationY>228</locationY>
        <defaultConnector>
            <targetReference>no_results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>as</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invocable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Output</targetReference>
            </connector>
            <label>as</label>
        </rules>
    </decisions>
    <interviewLabel>TestFlow_V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TestFlow_V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getRecords</name>
        <label>getRecords</label>
        <locationX>481</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invocable</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>International_Address_Request__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Output</name>
        <label>Display Output</label>
        <locationX>305</locationX>
        <locationY>287</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>des</name>
            <extensionName>appsolutely:displaySearchResults</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>no_results</name>
        <label>no results</label>
        <locationX>657</locationX>
        <locationY>385</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>sdfs</name>
            <fieldText>&lt;p&gt;Sorry no results found&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Form</name>
        <label>Search Form</label>
        <locationX>143</locationX>
        <locationY>222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>invocable</targetReference>
        </connector>
        <fields>
            <name>SearchForm</name>
            <extensionName>appsolutely:toDos</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>building</name>
                <value>
                    <elementReference>var_Building</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>housenr</name>
                <value>
                    <elementReference>var_HouseNr</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>language</name>
                <value>
                    <elementReference>var_Locality</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locality</name>
                <value>
                    <elementReference>var_Locality</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>organization</name>
                <value>
                    <elementReference>var_Organization</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pobox</name>
                <value>
                    <elementReference>var_POBox</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postcode</name>
                <value>
                    <elementReference>var_Postcode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>var_Province</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>var_Street</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>45</locationX>
        <locationY>114</locationY>
        <connector>
            <targetReference>Search_Form</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>output_Street</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outPutList</name>
        <apexClass>appsolutely__SearchForDossiersResultDto</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outPutValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Building</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_HouseNr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>english</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Locality</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Organization</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_POBox</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Postcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Province</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
