force-app/main/default/flows/Upsert_Business_Dossier_to_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End</name>
        <label>End</label>
        <locationX>953</locationX>
        <locationY>50</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <actionCalls>
        <name>Upsert_Account_And_Insert_Business_Dossiers</name>
        <label>Upsert Account &amp; Insert Business Dossiers</label>
        <locationX>459</locationX>
        <locationY>50</locationY>
        <actionName>UpsertBusinessDossierInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__businessDossier</typeName>
            <typeValue>appsolutely__Business_Dossier__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__relatedAccount</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>relatedAccount</name>
            <value>
                <elementReference>AccountToBeCreated</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessDossier</name>
            <value>
                <elementReference>CompleteBusinessDossier</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <interviewLabel>Upsert Business Dossier to Account. {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Upsert Business Dossier to Account.</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>623</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Navigation_Screen</targetReference>
        </connector>
        <filters>
            <field>Business_Dossier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Upsert_Account_And_Insert_Business_Dossiers.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Account_Navigation_Screen</name>
        <label>Account Navigation Screen</label>
        <locationX>790</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <fields>
            <name>NavigateToRecord</name>
            <extensionName>appsolutely:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Business Dossier Created</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Account_Record.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>69</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Check_for_duplicate_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_for_duplicate_Account</name>
        <label>Check for duplicate Account</label>
        <locationX>255</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Upsert_Account_And_Insert_Business_Dossiers</targetReference>
        </connector>
        <flowName>Duplicate_Management_For_Account_and_Business_Dossier</flowName>
        <inputAssignments>
            <name>AccountToBeCreated</name>
            <value>
                <elementReference>AccountToBeCreated</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AccountToBeCreated</assignToReference>
            <name>AccountToBeCreated</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CompleteBusinessDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
</Flow>
