force-app/main/modules/businessDossier/flows/Complete_Account_with_Dossier_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End</name>
        <label>End</label>
        <locationX>1529</locationX>
        <locationY>786</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <actionCalls>
        <name>Upsert_Account_With_Business_Dossiers</name>
        <label>Upsert Account With Business Dossiers</label>
        <locationX>1993</locationX>
        <locationY>242</locationY>
        <actionName>UpsertBusinessDossierInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__relatedAccount</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__businessDossier</typeName>
            <typeValue>appsolutely__Business_Dossier__c</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>relatedAccount</name>
            <value>
                <elementReference>OpenedAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessDossier</name>
            <value>
                <elementReference>CreatedDossier</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <description>Assign the values of the retrieved business dossier to the account.</description>
        <name>Assign_Account_Fields_Creditsafe</name>
        <label>Assign Account Fields Creditsafe</label>
        <locationX>1813</locationX>
        <locationY>307</locationY>
        <assignmentItems>
            <assignToReference>OpenedAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreatedDossier.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upsert_Account_With_Business_Dossiers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the values of the retrieved business dossier to the account.</description>
        <name>Assign_Account_Fields_Dutch_CoC</name>
        <label>Assign Account Fields Dutch CoC</label>
        <locationX>1815</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>OpenedAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreatedDossier.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upsert_Account_With_Business_Dossiers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_billing_country_default</name>
        <label>Assign billing country default</label>
        <locationX>925</locationX>
        <locationY>165</locationY>
        <assignmentItems>
            <assignToReference>OpenedAccount.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Organisation_Search_Flow_Prefilled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Business_Dossier_Id_And_Search_Again</name>
        <label>Assign Business Dossier Id And Search Again</label>
        <locationX>542</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>BusinessDossierRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpenedAccount.Business_Dossier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SearchAgainClicked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Buisness_Dossier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_outcome_message</name>
        <label>Default outcome message</label>
        <locationX>655</locationX>
        <locationY>826</locationY>
        <assignmentItems>
            <assignToReference>DefaultOutcomeErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Buisness_Dossier</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Business_Dossier_Set</name>
        <label>Business Dossier Set</label>
        <locationX>535</locationX>
        <locationY>268</locationY>
        <defaultConnector>
            <targetReference>Selected_country_is_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Business Dossier Not Set</defaultConnectorLabel>
        <rules>
            <name>Business_Dossier_Set_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpenedAccount.Business_Dossier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Business_Dossier_Id_And_Search_Again</targetReference>
            </connector>
            <label>Business Dossier Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Search_Again_Clicked_Or_VAT_Updated</name>
        <label>Search Again Clicked Or VAT Updated</label>
        <locationX>775</locationX>
        <locationY>641</locationY>
        <defaultConnector>
            <targetReference>Default_outcome_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Search_Again_Is_Clicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchAgainClicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unlink_Business_Dossier_from_Account</targetReference>
            </connector>
            <label>Search Again Is Clicked</label>
        </rules>
        <rules>
            <name>VAT_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VATUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Buisness_Dossier</targetReference>
            </connector>
            <label>VAT Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Search_Cancelled</name>
        <label>Search Cancelled</label>
        <locationX>1255</locationX>
        <locationY>259</locationY>
        <defaultConnector>
            <targetReference>Retrieve_Business_Dossier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Search_Was_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Search Was Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_country_is_empty</name>
        <label>Selected country is empty</label>
        <locationX>765</locationX>
        <locationY>268</locationY>
        <defaultConnector>
            <targetReference>Organisation_Search_Flow_Prefilled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_country_is_empty_outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OpenedAccount.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpenedAccount.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_billing_country_default</targetReference>
            </connector>
            <label>Selected country is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_Dossier_Source</name>
        <label>What is the Dossier Source</label>
        <locationX>1613</locationX>
        <locationY>256</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Fields_Dutch_CoC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Creditsafe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DossierSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creditsafe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Fields_Creditsafe</targetReference>
            </connector>
            <label>Creditsafe</label>
        </rules>
    </decisions>
    <description>Template which helps the admin to create a flow that first prefills the search criteria (in this case of an account) and then updates the record (in this case an account) with the found results.</description>
    <interviewLabel>Complete Account {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Enrich Account with Dossier Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>391</locationX>
        <locationY>123</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Business_Dossier_Set</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>OpenedAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Business_Dossier__c</queriedFields>
        <queriedFields>Website</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Unlink_Business_Dossier_from_Account</name>
        <label>Unlink Business Dossier from Account</label>
        <locationX>781</locationX>
        <locationY>426</locationY>
        <connector>
            <targetReference>Selected_country_is_empty</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpenedAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Dossier__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Show_Buisness_Dossier</name>
        <label>Show Buisness Dossier</label>
        <locationX>542</locationX>
        <locationY>631</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Search_Again_Clicked_Or_VAT_Updated</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <extensionName>appsolutely:flowErrorHandler</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>DefaultOutcomeErrorMessage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>DefaultOutcomeErrorMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BusinessDossierHeader</name>
            <extensionName>appsolutely:accountEnrichmentHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>businessDossierId</name>
                <value>
                    <elementReference>BusinessDossierRecordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>GetCreditsafeReportClicked</assignToReference>
                <name>getCreditsafeReportClicked</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SearchAgainClicked</assignToReference>
                <name>searchAgainClicked</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>VATUpdated</assignToReference>
                <name>VATUpdated</name>
            </outputParameters>
        </fields>
        <fields>
            <name>BusinessDossierRecord</name>
            <extensionName>appsolutely:flowShowRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>BusinessDossierRecordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>23</locationX>
        <locationY>104</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Organisation_Search_Flow_Prefilled</name>
        <label>Organisation Search Flow Prefilled</label>
        <locationX>1091</locationX>
        <locationY>257</locationY>
        <connector>
            <targetReference>Search_Cancelled</targetReference>
        </connector>
        <flowName>Organisation_Search_Flow</flowName>
        <inputAssignments>
            <name>City</name>
            <value>
                <elementReference>OpenedAccount.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DomainName</name>
            <value>
                <elementReference>OpenedAccount.Website</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>OpenedAccount.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PostalCode</name>
            <value>
                <elementReference>OpenedAccount.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedCountry</name>
            <value>
                <elementReference>OpenedAccount.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Street</name>
            <value>
                <elementReference>OpenedAccount.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TradeName</name>
            <value>
                <elementReference>OpenedAccount.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VATEnrichmentRequired</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>cancelPressed</assignToReference>
            <name>cancelPressed</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DossierSource</assignToReference>
            <name>SearchSource</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreatedDossier</assignToReference>
            <name>selectedDossier</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Retrieve_Business_Dossier</name>
        <label>Retrieve Business Dossier</label>
        <locationX>1459</locationX>
        <locationY>257</locationY>
        <connector>
            <targetReference>What_is_the_Dossier_Source</targetReference>
        </connector>
        <flowName>Retrieve_Business_Dossier</flowName>
        <inputAssignments>
            <name>DossierSource</name>
            <value>
                <elementReference>DossierSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>selectedDossier</name>
            <value>
                <elementReference>CreatedDossier</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CreatedDossier</assignToReference>
            <name>CompleteBusinessDossier</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>BusinessDossierRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cancelPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The dossier created in the organisation search subflow</description>
        <name>CreatedDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>CreditsafeReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Creditsafe_Company_Report_Full__c</objectType>
    </variables>
    <variables>
        <name>DefaultOutcomeErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DossierSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetCreditsafeReportClicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OpenedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>The record Id of the Account to complete</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SearchAgainClicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VATUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
