force-app/main/modules/businessDossier/flows/Complete_Account_with_Dossier_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End</name>
        <label>End</label>
        <locationX>1161</locationX>
        <locationY>98</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <assignments>
        <name>Assign_billing_country_default</name>
        <label>Assign billing country default</label>
        <locationX>857</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Organisation_Search_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Business_Dossier_Id_And_Search_Again</name>
        <label>Assign Business Dossier Id And Search Again</label>
        <locationX>543</locationX>
        <locationY>435</locationY>
        <assignmentItems>
            <assignToReference>BusinessDossierRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Business_Dossier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SearchAgainClicked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Buisness_Dossier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Business_Dossier_Id_And_Search_Again</name>
        <label>Assign New Business Dossier Id And Search Again</label>
        <locationX>1383</locationX>
        <locationY>425</locationY>
        <assignmentItems>
            <assignToReference>BusinessDossierRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreatedDossier.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SearchAgainClicked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Buisness_Dossier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Creditsafe_Report_Created_Message</name>
        <label>Creditsafe Report Created Message</label>
        <locationX>1323</locationX>
        <locationY>601</locationY>
        <assignmentItems>
            <assignToReference>LookupCreationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreditsafeReportCreatedLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Buisness_Dossier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_outcome_message</name>
        <label>Default outcome message</label>
        <locationX>1009</locationX>
        <locationY>572</locationY>
        <assignmentItems>
            <assignToReference>DefaultOutcomeErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Buisness_Dossier</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Business_Dossier_Set</name>
        <label>Business Dossier Set</label>
        <locationX>535</locationX>
        <locationY>268</locationY>
        <defaultConnector>
            <targetReference>Selected_country_is_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Business Dossier Not Set</defaultConnectorLabel>
        <rules>
            <name>Business_Dossier_Set_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Business_Dossier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Business_Dossier_Id_And_Search_Again</targetReference>
            </connector>
            <label>Business Dossier Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cancel_Pressed</name>
        <label>Cancel Pressed</label>
        <locationX>1153</locationX>
        <locationY>269</locationY>
        <defaultConnector>
            <targetReference>Update_Account_for_Dutch_Dossier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel Not Pressed</defaultConnectorLabel>
        <rules>
            <name>Cancel_Pressed_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Cancel Pressed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cancel_Pressed1</name>
        <label>Cancel Pressed</label>
        <locationX>1180</locationX>
        <locationY>766</locationY>
        <defaultConnector>
            <targetReference>Default_outcome_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancel_is_Pressed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Buisness_Dossier</targetReference>
            </connector>
            <label>Cancel is Pressed</label>
        </rules>
        <rules>
            <name>Creditsafe_Report_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreditsafeReport.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creditsafe_Report_Created_Message</targetReference>
            </connector>
            <label>Creditsafe Report Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Search_Again_Clicked_Or_VAT_Updated_or_Get_Creditsafe_Report_Clicked</name>
        <label>Search Again Clicked Or VAT Updated or Get Creditsafe Report Clicked</label>
        <locationX>778</locationX>
        <locationY>502</locationY>
        <defaultConnector>
            <targetReference>Default_outcome_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Search_Again_Is_Clicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchAgainClicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_country_is_empty</targetReference>
            </connector>
            <label>Search Again Is Clicked</label>
        </rules>
        <rules>
            <name>VAT_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VATUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Buisness_Dossier</targetReference>
            </connector>
            <label>VAT Updated</label>
        </rules>
        <rules>
            <name>Get_Creditsafe_Report_is_Clicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCreditsafeReportClicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Creditsafe_Report</targetReference>
            </connector>
            <label>Get Creditsafe Report is Clicked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_country_is_empty</name>
        <label>Selected country is empty</label>
        <locationX>774</locationX>
        <locationY>269</locationY>
        <defaultConnector>
            <targetReference>Organisation_Search_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_country_is_empty_outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_billing_country_default</targetReference>
            </connector>
            <label>Selected country is empty</label>
        </rules>
    </decisions>
    <description>Template which helps the admin to create a flow that first prefills the search criteria (in this case of an account) and then updates the record (in this case an account) with the found results.</description>
    <formulas>
        <name>CreditsafeReportCreatedLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__creditsafe_report_created}</expression>
    </formulas>
    <interviewLabel>Complete Account {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Enrich Account with Dossier Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>390</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Business_Dossier_Set</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates an account with the details of a dutch business dossier</description>
        <name>Update_Account_for_Dutch_Dossier</name>
        <label>Update Account for Dutch Dossier</label>
        <locationX>1381</locationX>
        <locationY>261</locationY>
        <connector>
            <targetReference>Assign_New_Business_Dossier_Id_And_Search_Again</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Dossier__c</field>
            <value>
                <elementReference>CreatedDossier.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CreatedDossier.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Show_Buisness_Dossier</name>
        <label>Show Buisness Dossier</label>
        <locationX>1077</locationX>
        <locationY>406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Search_Again_Clicked_Or_VAT_Updated_or_Get_Creditsafe_Report_Clicked</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <extensionName>appsolutely:flowErrorHandler</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>DefaultOutcomeErrorMessage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>DefaultOutcomeErrorMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SuccessMessage</name>
            <extensionName>appsolutely:flowSuccessHandler</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>LookupCreationMessage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LookupCreationMessage</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <elementReference>CreditsafeReportCreatedLabel</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BusinessDossierHeader</name>
            <extensionName>appsolutely:accountEnrichmentHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>businessDossierId</name>
                <value>
                    <elementReference>BusinessDossierRecordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SearchAgainClicked</assignToReference>
                <name>searchAgainClicked</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>VATUpdated</assignToReference>
                <name>VATUpdated</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>GetCreditsafeReportClicked</assignToReference>
                <name>getCreditsafeReportClicked</name>
            </outputParameters>
        </fields>
        <fields>
            <name>BusinessDossierRecord</name>
            <extensionName>appsolutely:flowShowRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>BusinessDossierRecordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>267</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Creditsafe_Report</name>
        <label>Get Creditsafe Report</label>
        <locationX>788</locationX>
        <locationY>771</locationY>
        <connector>
            <targetReference>Cancel_Pressed1</targetReference>
        </connector>
        <flowName>Get_Creditsafe_Report_Quick_Action_on_Account</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>cancelPressed</assignToReference>
            <name>CancelPressed</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreditsafeReport</assignToReference>
            <name>CreditsafeReport</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Searches for organisations. Uses the input values as defaults to search on.</description>
        <name>Organisation_Search_Flow</name>
        <label>Organisation Search Flow</label>
        <locationX>989</locationX>
        <locationY>267</locationY>
        <connector>
            <targetReference>Cancel_Pressed</targetReference>
        </connector>
        <flowName>Organisation_Search_Flow</flowName>
        <inputAssignments>
            <name>City</name>
            <value>
                <elementReference>Get_Account.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DomainName</name>
            <value>
                <elementReference>Get_Account.Website</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>Get_Account.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PostalCode</name>
            <value>
                <elementReference>Get_Account.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedCountry</name>
            <value>
                <elementReference>Get_Account.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Street</name>
            <value>
                <elementReference>Get_Account.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TradeName</name>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VATEnrichmentRequired</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>cancelPressed</assignToReference>
            <name>cancelPressed</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreatedDossier</assignToReference>
            <name>selectedDossier</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>BusinessDossierRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cancelPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The dossier created in the organisation search subflow</description>
        <name>CreatedDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>CreditsafeReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Creditsafe_Company_Report_Full__c</objectType>
    </variables>
    <variables>
        <name>DefaultOutcomeErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetCreditsafeReportClicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LookupCreationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <description>The record Id of the Account to complete</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SearchAgainClicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VATUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
