force-app/main/modules/businessDossier/flows/Complete_Account_with_Dossier_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End</name>
        <label>End</label>
        <locationX>1161</locationX>
        <locationY>97</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <actionCalls>
        <name>Upsert_Account_With_Business_Dossiers</name>
        <label>Upsert Account With Business Dossiers</label>
        <locationX>1539</locationX>
        <locationY>264</locationY>
        <actionName>UpsertBusinessDossierInvocable</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__businessDossier</typeName>
            <typeValue>appsolutely__Business_Dossier__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__relatedAccount</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>relatedAccount</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessDossier</name>
            <value>
                <elementReference>CreatedDossier</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <description>Assign the values of the retrieved business dossier to the account.</description>
        <name>Assign_Account_Fields</name>
        <label>Assign Account Fields</label>
        <locationX>1362</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreatedDossier.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upsert_Account_With_Business_Dossiers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_billing_country_default</name>
        <label>Assign billing country default</label>
        <locationX>857</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Business_Dossier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Business_Dossier_Id_And_Search_Again</name>
        <label>Assign Business Dossier Id And Search Again</label>
        <locationX>542</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>BusinessDossierRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Business_Dossier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SearchAgainClicked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Buisness_Dossier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_outcome_message</name>
        <label>Default outcome message</label>
        <locationX>655</locationX>
        <locationY>826</locationY>
        <assignmentItems>
            <assignToReference>DefaultOutcomeErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Buisness_Dossier</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Business_Dossier_Set</name>
        <label>Business Dossier Set</label>
        <locationX>535</locationX>
        <locationY>268</locationY>
        <defaultConnector>
            <targetReference>Selected_country_is_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Business Dossier Not Set</defaultConnectorLabel>
        <rules>
            <name>Business_Dossier_Set_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Business_Dossier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Business_Dossier_Id_And_Search_Again</targetReference>
            </connector>
            <label>Business Dossier Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cancel_Pressed</name>
        <label>Cancel Pressed</label>
        <locationX>1159</locationX>
        <locationY>270</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel Not Pressed</defaultConnectorLabel>
        <rules>
            <name>Cancel_Pressed_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Cancel Pressed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Search_Again_Clicked_Or_VAT_Updated</name>
        <label>Search Again Clicked Or VAT Updated</label>
        <locationX>767</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>Default_outcome_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Search_Again_Is_Clicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchAgainClicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_country_is_empty</targetReference>
            </connector>
            <label>Search Again Is Clicked</label>
        </rules>
        <rules>
            <name>VAT_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VATUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Buisness_Dossier</targetReference>
            </connector>
            <label>VAT Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_country_is_empty</name>
        <label>Selected country is empty</label>
        <locationX>765</locationX>
        <locationY>268</locationY>
        <defaultConnector>
            <targetReference>Search_Business_Dossier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_country_is_empty_outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_billing_country_default</targetReference>
            </connector>
            <label>Selected country is empty</label>
        </rules>
    </decisions>
    <description>Template which helps the admin to create a flow that first prefills the search criteria (in this case of an account) and then updates the record (in this case an account) with the found results.</description>
    <interviewLabel>Complete Account {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Enrich Account with Dossier Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>390</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Business_Dossier_Set</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Show_Buisness_Dossier</name>
        <label>Show Buisness Dossier</label>
        <locationX>542</locationX>
        <locationY>631</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Search_Again_Clicked_Or_VAT_Updated</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <extensionName>appsolutely:flowErrorHandler</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>DefaultOutcomeErrorMessage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>DefaultOutcomeErrorMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BusinessDossierHeader</name>
            <extensionName>appsolutely:accountEnrichmentHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>businessDossierId</name>
                <value>
                    <elementReference>BusinessDossierRecordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>GetCreditsafeReportClicked</assignToReference>
                <name>getCreditsafeReportClicked</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SearchAgainClicked</assignToReference>
                <name>searchAgainClicked</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>VATUpdated</assignToReference>
                <name>VATUpdated</name>
            </outputParameters>
        </fields>
        <fields>
            <name>BusinessDossierRecord</name>
            <extensionName>appsolutely:flowShowRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>BusinessDossierRecordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>267</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Search_Business_Dossier</name>
        <label>Search Business Dossier</label>
        <locationX>972</locationX>
        <locationY>268</locationY>
        <connector>
            <targetReference>Cancel_Pressed</targetReference>
        </connector>
        <flowName>Search_Business_Dossier</flowName>
        <inputAssignments>
            <name>EnrichAccount</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>cancelPressed</assignToReference>
            <name>cancelPressed</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreatedDossier</assignToReference>
            <name>CompleteBusinessDossier</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>BusinessDossierRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cancelPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The dossier created in the organisation search subflow</description>
        <name>CreatedDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>CreditsafeReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Creditsafe_Company_Report_Full__c</objectType>
    </variables>
    <variables>
        <name>DefaultOutcomeErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetCreditsafeReportClicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>The record Id of the Account to complete</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SearchAgainClicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VATUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
