force-app/main/modules/businessDossier/flows/Create_Account_based_on_Company_info_data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End</name>
        <label>End</label>
        <locationX>1548</locationX>
        <locationY>310</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <assignments>
        <name>Assign_Account_fields_Creditsafe</name>
        <label>Assign Account fields Creditsafe</label>
        <locationX>916</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>AccountToBeCreated.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompleteBusinessDossier.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upsert_Business_Dossier_to_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Fields_Dutch_CoC</name>
        <label>Assign Account Fields Dutch CoC</label>
        <locationX>918</locationX>
        <locationY>397</locationY>
        <assignmentItems>
            <assignToReference>AccountToBeCreated.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompleteBusinessDossier.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountToBeCreated.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompleteBusinessDossier.Correspondence_City__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upsert_Business_Dossier_to_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cancel_Pressed</name>
        <label>Cancel Pressed</label>
        <locationX>566</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Dossier_Source</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Cancel Pressed</defaultConnectorLabel>
        <rules>
            <name>Cancel_Pressed_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Cancel Pressed</label>
        </rules>
    </decisions>
    <decisions>
        <description>What is the dossier source</description>
        <name>Dossier_Source</name>
        <label>Dossier Source</label>
        <locationX>692</locationX>
        <locationY>467</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Fields_Dutch_CoC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Creditsafe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DossierSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creditsafe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_fields_Creditsafe</targetReference>
            </connector>
            <label>Creditsafe</label>
        </rules>
    </decisions>
    <description>Template you can use to create an account based on Company.info data. Use this for example in quick actions.</description>
    <interviewLabel>Create Account based on Company.info data {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Create Account based on Company.info data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Organisation_Search_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Organisation_Search_Flow</name>
        <label>Organisation Search Flow</label>
        <locationX>217</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Retrieve_Business_Dossier</targetReference>
        </connector>
        <flowName>Organisation_Search_Flow</flowName>
        <outputAssignments>
            <assignToReference>cancelPressed</assignToReference>
            <name>cancelPressed</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DossierSource</assignToReference>
            <name>SearchSource</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreatedDossier</assignToReference>
            <name>selectedDossier</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Retrieve_Business_Dossier</name>
        <label>Retrieve Business Dossier</label>
        <locationX>384</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Cancel_Pressed</targetReference>
        </connector>
        <flowName>Retrieve_Business_Dossier</flowName>
        <inputAssignments>
            <name>DossierSource</name>
            <value>
                <elementReference>DossierSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>selectedDossier</name>
            <value>
                <elementReference>CreatedDossier</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CompleteBusinessDossier</assignToReference>
            <name>CompleteBusinessDossier</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Upsert_Business_Dossier_to_Account</name>
        <label>Upsert Business Dossier to Account</label>
        <locationX>1410</locationX>
        <locationY>357</locationY>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <flowName>Upsert_Business_Dossier_to_Account</flowName>
        <inputAssignments>
            <name>AccountToBeCreated</name>
            <value>
                <elementReference>AccountToBeCreated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CompleteBusinessDossier</name>
            <value>
                <elementReference>CompleteBusinessDossier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ShowCreateDuplicateButton</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccountToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>cancelPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompleteBusinessDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>CreatedDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>DossierSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DuplicateDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>DuplicateFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
