force-app/main/modules/businessDossier/flows/Create_Account_based_on_Company_info_data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End</name>
        <label>End</label>
        <locationX>1238</locationX>
        <locationY>51</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <actionCalls>
        <name>Find_Duplicate_Accounts</name>
        <label>Find Duplicate Accounts</label>
        <locationX>875</locationX>
        <locationY>108</locationY>
        <actionName>FindDuplicatesInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Duplicate_Account_Size</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sobj</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>sobj</name>
            <value>
                <elementReference>AccountToBeCreated</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Assign_Account_fields</name>
        <label>Assign Account fields</label>
        <locationX>707</locationX>
        <locationY>232</locationY>
        <assignmentItems>
            <assignToReference>AccountToBeCreated.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedDossier.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountToBeCreated.Business_Dossier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedDossier.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountToBeCreated.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedDossier.Correspondence_City__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Duplicate_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Duplicate_Account_Size</name>
        <label>Assign Duplicate Account Size</label>
        <locationX>872</locationX>
        <locationY>270</locationY>
        <assignmentItems>
            <assignToReference>DuplicateAccountsSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Find_Duplicate_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Duplicate_Account_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Toast_Message</name>
        <label>Assign Toast Message</label>
        <locationX>713</locationX>
        <locationY>652</locationY>
        <assignmentItems>
            <assignToReference>TextMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You are redirected to the duplicate account found for the searched company.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Navigation_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cancel_Pressed</name>
        <label>Cancel Pressed</label>
        <locationX>468</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Check_Duplicate_Dossier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Cancel Pressed</defaultConnectorLabel>
        <rules>
            <name>Cancel_Pressed_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Cancel Pressed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Duplicate_Dossier</name>
        <label>Check Duplicate Dossier</label>
        <locationX>470</locationX>
        <locationY>233</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duplicate Dossier Not Found</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Dossier_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Related_to_Selected_Dossier</targetReference>
            </connector>
            <label>Duplicate Dossier Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_Account_Check</name>
        <label>Duplicate Account Check</label>
        <locationX>1020</locationX>
        <locationY>347</locationY>
        <defaultConnector>
            <targetReference>Create_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duplicate Account Not Found</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Accounts_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateAccountsSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Account_Details</targetReference>
            </connector>
            <label>Duplicate Accounts Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account</name>
        <label>Is Account Related To Dossier</label>
        <locationX>705</locationX>
        <locationY>442</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Related Account Not Found</defaultConnectorLabel>
        <rules>
            <name>Related_Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Related_to_Selected_Dossier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Toast_Message</targetReference>
            </connector>
            <label>Related Account Found</label>
        </rules>
    </decisions>
    <description>Template you can use to create an account based on Company.info data. Use this for example in quick actions.</description>
    <interviewLabel>Create Account based on Company.info data {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Create Account based on Company.info data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates the account. Add field values which take values from the selectedDossier variable to set the different fields on the account to be created.</description>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>1237</locationX>
        <locationY>243</locationY>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <inputReference>AccountToBeCreated</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Related_to_Selected_Dossier</name>
        <label>Get Account Related to Selected Dossier</label>
        <locationX>478</locationX>
        <locationY>440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account</targetReference>
        </connector>
        <filters>
            <field>Business_Dossier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedDossier.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Account_Navigation_Screen</name>
        <label>Account Navigation Screen</label>
        <locationX>474</locationX>
        <locationY>610</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NavigateToRecord</name>
            <extensionName>appsolutely:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Account_Related_to_Selected_Dossier.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>TextMessage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Account_Details</name>
        <label>Duplicate Account Details</label>
        <locationX>1228</locationX>
        <locationY>462</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AccountDetails</name>
            <fieldText>&lt;p&gt;A duplicate Account with following details has been found:&lt;/p&gt;&lt;p&gt;Name - &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Find_Duplicate_Accounts}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DuplicateAccounts</name>
            <extensionName>appsolutely:accountListTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountList</name>
                <value>
                    <elementReference>Find_Duplicate_Accounts</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Organisation_Search_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Searches in Company.info for the right organisation</description>
        <name>Organisation_Search_Flow</name>
        <label>Organisation Search Flow</label>
        <locationX>258</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Cancel_Pressed</targetReference>
        </connector>
        <flowName>Organisation_Search_Flow</flowName>
        <inputAssignments>
            <name>VATEnrichmentRequired</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>cancelPressed</assignToReference>
            <name>cancelPressed</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DuplicateFound</assignToReference>
            <name>DuplicateDossierFound</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedDossier</assignToReference>
            <name>selectedDossier</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>cancelPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DuplicateAccountsSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>DuplicateFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The dossier (Company.info record) selected by the user.</description>
        <name>selectedDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>TextMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>A duplicate account has been found</stringValue>
        </value>
    </variables>
</Flow>
