force-app/main/modules/businessDossier/flows/Create_Account_based_on_Company_info_data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End</name>
        <label>End</label>
        <locationX>649</locationX>
        <locationY>373</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <assignments>
        <name>Assign_Account_fields</name>
        <label>Assign Account fields</label>
        <locationX>645</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>AccountToBeCreated.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompleteBusinessDossier.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upsert_Business_Dossier_to_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cancel_Pressed</name>
        <label>Cancel Pressed</label>
        <locationX>452</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Cancel Pressed</defaultConnectorLabel>
        <rules>
            <name>Cancel_Pressed_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Cancel Pressed</label>
        </rules>
    </decisions>
    <description>Template you can use to create an account based on Company.info data. Use this for example in quick actions.</description>
    <interviewLabel>Create Account based on Company.info data {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Create Account based on Company.info data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Search_Business_Dossier_Subflow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Flow which shows a search screen, the results of the search, checks for existing dossiers, and either returns the selected dossier or opens the existing one.</description>
        <name>Search_Business_Dossier_Subflow</name>
        <label>Search Business Dossier Subflow</label>
        <locationX>305</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Cancel_Pressed</targetReference>
        </connector>
        <flowName>Search_Business_Dossier</flowName>
        <outputAssignments>
            <assignToReference>CompleteBusinessDossier</assignToReference>
            <name>CompleteBusinessDossier</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DuplicateFound</assignToReference>
            <name>DuplicateFound</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Upsert_Business_Dossier_to_Account</name>
        <label>Upsert Business Dossier to Account</label>
        <locationX>853</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <flowName>Upsert_Business_Dossier_to_Account</flowName>
        <inputAssignments>
            <name>AccountToBeCreated</name>
            <value>
                <elementReference>AccountToBeCreated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CompleteBusinessDossier</name>
            <value>
                <elementReference>CompleteBusinessDossier</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccountToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>cancelPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompleteBusinessDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>DuplicateDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>DuplicateFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>The dossier (Company.info record) selected by the user.</description>
        <name>selectedDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
</Flow>
