force-app/main/modules/businessDossier/flows/Duplicate_Management_For_Account_and_Business_Dossier.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End</name>
        <label>End</label>
        <locationX>1130</locationX>
        <locationY>508</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <actionCalls>
        <name>Find_Duplicate_Accounts</name>
        <label>Find Duplicate Accounts</label>
        <locationX>247</locationX>
        <locationY>497</locationY>
        <actionName>FindDuplicatesInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Duplicate_Account_Size</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sobj</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>sobj</name>
            <value>
                <elementReference>AccountToBeCreated</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Assign_Duplicate_Account_Size</name>
        <label>Assign Duplicate Account Size</label>
        <locationX>474</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>DuplicateAccountsSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Find_Duplicate_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Duplicate_Account_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Id_To_Account</name>
        <label>Assign Id To Account</label>
        <locationX>1130</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>AccountToBeCreated.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedDuplicateAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_New_Or_Update_Duplicate_Account</name>
        <label>Create New Or Update Duplicate Account</label>
        <locationX>1007</locationX>
        <locationY>380</locationY>
        <defaultConnector>
            <targetReference>End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel Pressed</defaultConnectorLabel>
        <rules>
            <name>Update_Duplicate_Account_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateDuplicateAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Id_To_Account</targetReference>
            </connector>
            <label>Update Duplicate Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_Account_Check</name>
        <label>Duplicate Account Check</label>
        <locationX>656</locationX>
        <locationY>500</locationY>
        <defaultConnector>
            <targetReference>End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duplicate Account Not Found</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Accounts_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateAccountsSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Account_Details</targetReference>
            </connector>
            <label>Duplicate Accounts Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>CreateNewAccount</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__new_account_with_business_dossier}</expression>
    </formulas>
    <formulas>
        <name>RedirectToAccount</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__redirect_to_duplicate_account}</expression>
    </formulas>
    <formulas>
        <name>UpdatedAccount</name>
        <dataType>String</dataType>
        <expression>{!$Label.appsolutely__updated_account}</expression>
    </formulas>
    <interviewLabel>Duplicate Management For Account and Business Dossier {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Duplicate Management For Account and Business Dossier</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Duplicate_Account_Details</name>
        <label>Duplicate Account Details</label>
        <locationX>875</locationX>
        <locationY>378</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Or_Update_Duplicate_Account</targetReference>
        </connector>
        <fields>
            <name>DuplicateAccounts</name>
            <extensionName>appsolutely:accountListTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountList</name>
                <value>
                    <elementReference>Find_Duplicate_Accounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>newAccount</name>
                <value>
                    <elementReference>AccountToBeCreated</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCreateNewAccount</name>
                <value>
                    <elementReference>ShowCreateNewAccountButton</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cancelPressed</assignToReference>
                <name>cancelClicked</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedDuplicateAccount</assignToReference>
                <name>selectedResult</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>UpdateDuplicateAccount</assignToReference>
                <name>updateDuplicateAccount</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>83</locationX>
        <locationY>498</locationY>
        <connector>
            <targetReference>Find_Duplicate_Accounts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Account Id for navigation</description>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>cancelPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DuplicateAccountsSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>The dossier (Company.info record) selected by the user.</description>
        <name>selectedDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>SelectedDuplicateAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>When screen with duplicate accounts list is shown, the admin has the option to allow user to create new duplicate account or not with assigning value to this variable.</description>
        <name>ShowCreateNewAccountButton</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TextMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>A duplicate account has been found</stringValue>
        </value>
    </variables>
    <variables>
        <name>UpdateDuplicateAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Variant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
