force-app/main/modules/businessDossier/flows/Organisation_Search_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Fetches the dossiers from the Company.info backend and creates them in the database.</description>
        <name>Create_Dutch_Dossiers</name>
        <label>Create Dutch Dossiers</label>
        <locationX>1522</locationX>
        <locationY>979</locationY>
        <actionName>CreateDutchDossierInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Dutch_Dossiers_Search_Results</targetReference>
        </faultConnector>
        <inputParameters>
            <name>dossierNumber</name>
            <value>
                <elementReference>selectedDossier.Dossier_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>getVat</name>
            <value>
                <elementReference>VATEnrichmentRequired</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>establishmentNumber</name>
            <value>
                <elementReference>selectedDossier.Establishment_Number__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>selectedDossier</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>An end point for the flow. Actions/screens that need to have fault error handling and that are at the end of the flow, can use this for the &apos;normal&apos; end flow.</description>
        <name>End</name>
        <label>End</label>
        <locationX>1207</locationX>
        <locationY>889</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <actionCalls>
        <name>Find_duplicate_dossier</name>
        <label>Find duplicate dossier</label>
        <locationX>990</locationX>
        <locationY>889</locationY>
        <actionName>FindDuplicatesInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Over_Duplicate_Dossiers</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sobj</typeName>
            <typeValue>appsolutely__Business_Dossier__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>appsolutely__Business_Dossier__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Dutch_Dossiers_Search_Results</targetReference>
        </faultConnector>
        <inputParameters>
            <name>sobj</name>
            <value>
                <elementReference>selectedDossier</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Search_for_Credit_Safe_Dossiers</name>
        <label>Search for Credit Safe Dossiers</label>
        <locationX>212</locationX>
        <locationY>587</locationY>
        <actionName>SearchForCreditSafeDossiersInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Separate_Search_Results</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Search</targetReference>
        </faultConnector>
        <inputParameters>
            <name>city</name>
            <value>
                <elementReference>BusinessSearchForm.city</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>countries</name>
            <value>
                <elementReference>Countries</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>BusinessSearchForm.creditSafeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Name</name>
            <value>
                <elementReference>BusinessSearchForm.tradeName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postal_code</name>
            <value>
                <elementReference>BusinessSearchForm.postalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>province</name>
            <value>
                <elementReference>BusinessSearchForm.province</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>registration_number</name>
            <value>
                <elementReference>BusinessSearchForm.registrationNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>registration_type</name>
            <value>
                <elementReference>BusinessSearchForm.registrationType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>BusinessSearchForm.status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>BusinessSearchForm.street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vat_number</name>
            <value>
                <elementReference>BusinessSearchForm.vatNumber</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Searches for Dutch dossiers in the Dutch Chamber of Commerce</description>
        <name>Search_for_Dutch_Dossiers</name>
        <label>Search for Dutch Dossiers</label>
        <locationX>412</locationX>
        <locationY>1160</locationY>
        <actionName>SearchForDutchDossiersInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Dutch_Dossiers_Search_Results</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Search</targetReference>
        </faultConnector>
        <inputParameters>
            <name>dossier_number</name>
            <value>
                <elementReference>BusinessSearchForm.dossierNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>city</name>
            <value>
                <elementReference>BusinessSearchForm.city</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain_name</name>
            <value>
                <elementReference>BusinessSearchForm.domainName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>house_number</name>
            <value>
                <elementReference>BusinessSearchForm.houseNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>house_number_addition</name>
            <value>
                <elementReference>BusinessSearchForm.houseNumberAddition</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postcode</name>
            <value>
                <elementReference>BusinessSearchForm.postalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>BusinessSearchForm.street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strictSearch</name>
            <value>
                <elementReference>BusinessSearchForm.strictSearch</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>telephone_number</name>
            <value>
                <elementReference>BusinessSearchForm.phoneNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>trade_name</name>
            <value>
                <elementReference>BusinessSearchForm.tradeName</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Assign_Duplicate_Dossier</name>
        <label>Assign Duplicate Dossier</label>
        <locationX>1237</locationX>
        <locationY>1237</locationY>
        <assignmentItems>
            <assignToReference>FoundDuplicateDossier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DuplicateDossierLoopVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Duplicate_Dossier_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Found_Dossier</name>
        <label>Assign Found Dossier</label>
        <locationX>1207</locationX>
        <locationY>1062</locationY>
        <assignmentItems>
            <assignToReference>selectedDossier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FoundDuplicateDossier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DuplicateDossierFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the country selected in the search screen to a list</description>
        <name>Assign_Selected_Country_to_List</name>
        <label>Assign Selected Country to List</label>
        <locationX>415</locationX>
        <locationY>721</locationY>
        <assignmentItems>
            <assignToReference>Countries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BusinessSearchForm.selectedCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_for_Credit_Safe_Dossiers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Dossier_Lists</name>
        <label>Count Dossier Lists</label>
        <locationX>562</locationX>
        <locationY>646</locationY>
        <assignmentItems>
            <assignToReference>DossiersByCompanyIDCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DossiersByCompanyID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DossiersByNameStatusRegistration_typeStreetCityPostalcodeCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DossiersByNameStatusRegistration_typeStreetCityPostalcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DossiersByNameStatusStreetCityPostalcodeCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DossiersByNameStatusStreetCityPostalcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DossiersByNameStatusStreetCityProvincePostalcodeCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DossiersByNameStatusStreetCityProvincePostalcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DossiersByRegistration_NumberRegistration_TypeCityCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DossiersByRegistration_NumberRegistration_TypeCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DossiersByRegistration_numberStatusPostalcodeCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DossiersByRegistration_numberStatusPostalcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DossiersByRegistrationNumberCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DossiersByRegistrationNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DossiersByVatNumberCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DossiersByVatNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Credit_Safe_Search_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dossiers_Filtered_By_Company_ID</name>
        <label>Dossiers Filtered By Company ID</label>
        <locationX>214</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>DossiersByCompanyID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopVariableBusinessDossier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Separate_Search_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dossiers_Filtered_By_Name_Status_Registration_type_Street_City_Postalcode</name>
        <label>Dossiers Filtered By Name, Status, Registration_type, Street, City, Postalcode</label>
        <locationX>659</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>DossiersByNameStatusRegistration_typeStreetCityPostalcode</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopVariableBusinessDossier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Separate_Search_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dossiers_Filtered_By_Name_Status_Street_City_Postalcode</name>
        <label>Dossiers Filtered By Name, Status, Street, City, Postalcode</label>
        <locationX>193</locationX>
        <locationY>217</locationY>
        <assignmentItems>
            <assignToReference>DossiersByNameStatusStreetCityPostalcode</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopVariableBusinessDossier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Separate_Search_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dossiers_Filtered_By_Name_Status_Street_City_Province_Postalcode</name>
        <label>Dossiers Filtered By Name, Status, Street, City, Province, Postalcode</label>
        <locationX>667</locationX>
        <locationY>475</locationY>
        <assignmentItems>
            <assignToReference>DossiersByNameStatusStreetCityProvincePostalcode</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopVariableBusinessDossier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Separate_Search_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dossiers_Filtered_By_Registration_Number</name>
        <label>Dossiers Filtered By Registration Number</label>
        <locationX>198</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>DossiersByRegistrationNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopVariableBusinessDossier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Separate_Search_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dossiers_Filtered_By_Registration_Number_Registration_Type_City</name>
        <label>Dossiers Filtered By Registration_Number, Registration_Type, City</label>
        <locationX>495</locationX>
        <locationY>72</locationY>
        <assignmentItems>
            <assignToReference>DossiersByRegistration_NumberRegistration_TypeCity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopVariableBusinessDossier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Separate_Search_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dossiers_Filtered_By_Registration_number_Status_Postalcode</name>
        <label>Dossiers Filtered By Registration_number, Status, Postalcode</label>
        <locationX>665</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>DossiersByRegistration_numberStatusPostalcode</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopVariableBusinessDossier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Separate_Search_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dossiers_Filtered_By_Vat_Number</name>
        <label>Dossiers Filtered By Vat Number</label>
        <locationX>341</locationX>
        <locationY>119</locationY>
        <assignmentItems>
            <assignToReference>DossiersByVatNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopVariableBusinessDossier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Separate_Search_Results</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cancel_pressed_in_CreditSafe_search_results</name>
        <label>Cancel pressed in CreditSafe search results</label>
        <locationX>753</locationX>
        <locationY>764</locationY>
        <defaultConnector>
            <targetReference>Find_duplicate_dossier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create CreditSafe dossier</defaultConnectorLabel>
        <rules>
            <name>Cancel_Pressed_Creditsafe_search_results_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Cancel Pressed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cancel_pressed_in_Dutch_search_results</name>
        <label>Cancel pressed in Dutch search results</label>
        <locationX>754</locationX>
        <locationY>999</locationY>
        <defaultConnector>
            <targetReference>Find_duplicate_dossier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Dutch Dossier</defaultConnectorLabel>
        <rules>
            <name>Cancel_Pressed_Dutch_search_results</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Cancel Pressed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides which search method to call based on the selected country</description>
        <name>Decide_search_method</name>
        <label>Decide search method</label>
        <locationX>403</locationX>
        <locationY>925</locationY>
        <defaultConnector>
            <targetReference>Assign_Selected_Country_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Search via Credit Safe</defaultConnectorLabel>
        <rules>
            <name>Cancel_Pressed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Cancel Pressed</label>
        </rules>
        <rules>
            <name>Search_for_Dutch_Dossiers_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessSearchForm.selectedCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_for_Dutch_Dossiers</targetReference>
            </connector>
            <label>Search for Dutch Dossiers</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_Dossier_Check</name>
        <label>Duplicate Dossier Check</label>
        <locationX>1385</locationX>
        <locationY>1138</locationY>
        <defaultConnector>
            <targetReference>Type_of_Business_Dossier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duplicate Dossier Not Found</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Dossier_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundDuplicateDossier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Found_Dossier</targetReference>
            </connector>
            <label>Duplicate Dossier Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Filter_Search_Results</name>
        <label>Filter Search Results</label>
        <locationX>413</locationX>
        <locationY>362</locationY>
        <defaultConnector>
            <targetReference>Show_Credit_Safe_Search_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Filter_By_Company_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVariableBusinessDossier.Search_Criteria_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>companyid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dossiers_Filtered_By_Company_ID</targetReference>
            </connector>
            <label>Filter By Company ID</label>
        </rules>
        <rules>
            <name>Filter_By_Registration_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVariableBusinessDossier.Search_Criteria_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>registration_number</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dossiers_Filtered_By_Registration_Number</targetReference>
            </connector>
            <label>Filter By Registration Number</label>
        </rules>
        <rules>
            <name>Filter_By_Name_Status_Street_City_Postalcode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVariableBusinessDossier.Search_Criteria_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>name, status, street, city, postalcode</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dossiers_Filtered_By_Name_Status_Street_City_Postalcode</targetReference>
            </connector>
            <label>Filter By Name, Status, Street, City, Postalcode</label>
        </rules>
        <rules>
            <name>Filter_By_Vat_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVariableBusinessDossier.Search_Criteria_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>vat_number</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dossiers_Filtered_By_Vat_Number</targetReference>
            </connector>
            <label>Filter By Vat Number</label>
        </rules>
        <rules>
            <name>Filter_By_Registration_Number_Registration_Type_City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVariableBusinessDossier.Search_Criteria_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>registration_number, registration_type, city</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dossiers_Filtered_By_Registration_Number_Registration_Type_City</targetReference>
            </connector>
            <label>Filter By Registration_Number, Registration_Type, City</label>
        </rules>
        <rules>
            <name>Filter_By_Name_Status_Registration_type_Street_City_Postalcode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVariableBusinessDossier.Search_Criteria_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>name, status, registration_type, street, city, postalcode</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dossiers_Filtered_By_Name_Status_Registration_type_Street_City_Postalcode</targetReference>
            </connector>
            <label>Filter By Name, Status, Registration_type, Street, City, Postalcode</label>
        </rules>
        <rules>
            <name>Filter_By_Registration_number_Status_Postalcode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVariableBusinessDossier.Search_Criteria_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>registration_number, status, postalcode</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dossiers_Filtered_By_Registration_number_Status_Postalcode</targetReference>
            </connector>
            <label>Filter By Registration_number, Status, Postalcode</label>
        </rules>
        <rules>
            <name>Filter_By_Name_Status_Street_City_Province_Postalcode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVariableBusinessDossier.Search_Criteria_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>name, status, street, city, province, postalcode</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dossiers_Filtered_By_Name_Status_Street_City_Province_Postalcode</targetReference>
            </connector>
            <label>Filter By Name, Status, Street, City, Province, Postalcode</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides Type of Business Dossier based on the selected country</description>
        <name>Type_of_Business_Dossier</name>
        <label>Type of Business Dossier</label>
        <locationX>1384</locationX>
        <locationY>764</locationY>
        <defaultConnector>
            <targetReference>Create_Credit_Safe_dossier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Search via Credit Safe</defaultConnectorLabel>
        <rules>
            <name>Search_for_Dutch_Dossiers_Outcome_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessSearchForm.selectedCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Dutch_Dossiers</targetReference>
            </connector>
            <label>Search for Dutch Dossiers</label>
        </rules>
    </decisions>
    <description>Search for organisations through CreditSafe or through the Dutch Chamber of Commerce. When an organisation has been found and selected fetches this organisation and inserts it into Salesforce as a Business Dossier.</description>
    <formulas>
        <name>HouseNumberAsIntConversion</name>
        <dataType>Number</dataType>
        <expression>VALUE({!HouseNumber})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Orga {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Organisation Search Flow</label>
    <loops>
        <name>Loop_Over_Duplicate_Dossiers</name>
        <label>Loop Over Duplicate Dossiers</label>
        <locationX>999</locationX>
        <locationY>1243</locationY>
        <assignNextValueToReference>DuplicateDossierLoopVariable</assignNextValueToReference>
        <collectionReference>Find_duplicate_dossier</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Duplicate_Dossier</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Duplicate_Dossier</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Separate_Search_Results</name>
        <label>Separate Search Results</label>
        <locationX>418</locationX>
        <locationY>575</locationY>
        <assignNextValueToReference>LoopVariableBusinessDossier</assignNextValueToReference>
        <collectionReference>Search_for_Credit_Safe_Dossiers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Search_Results</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_Dossier_Lists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Credit_Safe_dossier</name>
        <label>Create Credit Safe dossier</label>
        <locationX>1194</locationX>
        <locationY>603</locationY>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Credit_Safe_Search_Results</targetReference>
        </faultConnector>
        <inputReference>selectedDossier</inputReference>
    </recordCreates>
    <screens>
        <name>Dutch_Dossiers_Search_Results</name>
        <label>Dutch Dossiers Search Results</label>
        <locationX>857</locationX>
        <locationY>1159</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cancel_pressed_in_Dutch_search_results</targetReference>
        </connector>
        <fields>
            <name>flowErrorHandlerDutchResultsScreen</name>
            <extensionName>appsolutely:flowErrorHandler</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>searchResultFlowHeader_DutchBusiness</name>
            <extensionName>appsolutely:searchResultFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dutchDossiersResult</name>
            <extensionName>appsolutely:dutchDossierResults</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchResults</name>
                <value>
                    <elementReference>Search_for_Dutch_Dossiers</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedDossier</assignToReference>
                <name>selectedResult</name>
            </outputParameters>
        </fields>
        <fields>
            <name>dutchSearchResultFlowFooter</name>
            <extensionName>appsolutely:searchResultFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showCancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cancelPressed</assignToReference>
                <name>cancelPressed</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Search</name>
        <label>Enter Search Criteria</label>
        <locationX>210</locationX>
        <locationY>922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decide_search_method</targetReference>
        </connector>
        <fields>
            <name>flowErrorHandlerSearchScreen</name>
            <extensionName>appsolutely:flowErrorHandler</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>searchFlowHeader</name>
            <extensionName>appsolutely:searchFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BusinessSearchForm</name>
            <extensionName>appsolutely:businessSearchForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>domainName</name>
                <value>
                    <elementReference>DomainName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>houseNumber</name>
                <value>
                    <elementReference>HouseNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>houseNumberAddition</name>
                <value>
                    <elementReference>HouseNumberAddition</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>phoneNumber</name>
                <value>
                    <elementReference>PhoneNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedCountry</name>
                <value>
                    <elementReference>SelectedCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tradeName</name>
                <value>
                    <elementReference>TradeName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dossierNumber</name>
                <value>
                    <elementReference>RegistrationNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vatNumber</name>
                <value>
                    <elementReference>VATNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Province</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>registrationNumber</name>
                <value>
                    <elementReference>RegistrationNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>registrationType</name>
                <value>
                    <elementReference>RegistrationType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>status</name>
                <value>
                    <elementReference>Status</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>creditSafeId</name>
                <value>
                    <elementReference>CreditSafeRegistrationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strictSearch</name>
                <value>
                    <elementReference>StrictSearch</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>searchFlowFooter</name>
            <extensionName>appsolutely:searchFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showCancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cancelPressed</assignToReference>
                <name>cancelPressed</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Credit_Safe_Search_Results</name>
        <label>Show Credit Safe Search Results</label>
        <locationX>758</locationX>
        <locationY>600</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cancel_pressed_in_CreditSafe_search_results</targetReference>
        </connector>
        <fields>
            <name>creditSafeSearchResultFlowErrorHandler</name>
            <extensionName>appsolutely:flowErrorHandler</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>searchResultFlowHeader_CreditSafe</name>
            <extensionName>appsolutely:searchResultFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ResultsByRegistrationNumber</name>
            <extensionName>appsolutely:creditSafeDossierSearchResults</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchResults</name>
                <value>
                    <elementReference>DossiersByRegistrationNumber</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedDossier</assignToReference>
                <name>selectedResult</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DossiersByRegistrationNumberCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <elementReference>ZeroCount</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ResultsByCompanyId</name>
            <extensionName>appsolutely:creditSafeDossierSearchResults</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchResults</name>
                <value>
                    <elementReference>DossiersByCompanyID</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedDossier</assignToReference>
                <name>selectedResult</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DossiersByCompanyIDCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <elementReference>ZeroCount</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ResultsByVatNumber</name>
            <extensionName>appsolutely:creditSafeDossierSearchResults</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchResults</name>
                <value>
                    <elementReference>DossiersByVatNumber</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedDossier</assignToReference>
                <name>selectedResult</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DossiersByVatNumberCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <elementReference>ZeroCount</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ResultsByRegistration_NumberRegistration_TypeCity</name>
            <extensionName>appsolutely:creditSafeDossierSearchResults</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchResults</name>
                <value>
                    <elementReference>DossiersByRegistration_NumberRegistration_TypeCity</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedDossier</assignToReference>
                <name>selectedResult</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DossiersByRegistration_NumberRegistration_TypeCityCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <elementReference>ZeroCount</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ResultsByNameStatusRegistration_typeStreetCityPostalcode</name>
            <extensionName>appsolutely:creditSafeDossierSearchResults</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchResults</name>
                <value>
                    <elementReference>DossiersByNameStatusRegistration_typeStreetCityPostalcode</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedDossier</assignToReference>
                <name>selectedResult</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DossiersByNameStatusRegistration_typeStreetCityPostalcodeCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <elementReference>ZeroCount</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ResultsByNameStatusStreetCityPostalcode</name>
            <extensionName>appsolutely:creditSafeDossierSearchResults</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchResults</name>
                <value>
                    <elementReference>DossiersByNameStatusStreetCityPostalcode</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedDossier</assignToReference>
                <name>selectedResult</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DossiersByNameStatusStreetCityPostalcodeCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <elementReference>ZeroCount</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ResultsByNameStatusStreetCityProvincePostalcode</name>
            <extensionName>appsolutely:creditSafeDossierSearchResults</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchResults</name>
                <value>
                    <elementReference>DossiersByNameStatusStreetCityProvincePostalcode</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedDossier</assignToReference>
                <name>selectedResult</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DossiersByNameStatusStreetCityProvincePostalcodeCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <elementReference>ZeroCount</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ResultsByRegistration_numberStatusPostalcode</name>
            <extensionName>appsolutely:creditSafeDossierSearchResults</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchResults</name>
                <value>
                    <elementReference>DossiersByRegistration_numberStatusPostalcode</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedDossier</assignToReference>
                <name>selectedResult</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DossiersByRegistration_numberStatusPostalcodeCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <elementReference>ZeroCount</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NoResults</name>
            <extensionName>appsolutely:creditSafeDossierSearchResults</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchResults</name>
                <value>
                    <elementReference>DossiersByCompanyID</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedDossier</assignToReference>
                <name>selectedResult</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DossiersByCompanyIDCount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ZeroCount</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DossiersByNameStatusRegistration_typeStreetCityPostalcodeCount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ZeroCount</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DossiersByNameStatusStreetCityPostalcodeCount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ZeroCount</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DossiersByNameStatusStreetCityProvincePostalcodeCount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ZeroCount</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DossiersByRegistration_NumberRegistration_TypeCityCount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ZeroCount</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DossiersByRegistration_numberStatusPostalcodeCount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ZeroCount</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DossiersByRegistrationNumberCount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ZeroCount</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DossiersByVatNumberCount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ZeroCount</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>creditSafeSearchResultFlowFooter</name>
            <extensionName>appsolutely:searchResultFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cancelPressed</assignToReference>
                <name>cancelPressed</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>49</locationX>
        <locationY>923</locationY>
        <connector>
            <targetReference>Search</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddressCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cancelPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The city to search for</description>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Countries</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountryIsoCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>creditSafeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreditSafeRegistrationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DateLastAccount</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DateLastChange</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DomainName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DossiersByCompanyID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>DossiersByCompanyIDCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DossiersByNameStatusRegistration_typeStreetCityPostalcode</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>DossiersByNameStatusRegistration_typeStreetCityPostalcodeCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DossiersByNameStatusStreetCityPostalcode</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>DossiersByNameStatusStreetCityPostalcodeCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DossiersByNameStatusStreetCityProvincePostalcode</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>DossiersByNameStatusStreetCityProvincePostalcodeCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DossiersByRegistration_NumberRegistration_TypeCity</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>DossiersByRegistration_NumberRegistration_TypeCityCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DossiersByRegistration_numberStatusPostalcode</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>DossiersByRegistration_numberStatusPostalcodeCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DossiersByRegistrationNumber</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>DossiersByRegistrationNumberCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DossiersByVatNumber</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>DossiersByVatNumberCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DuplicateDossierFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DuplicateDossierLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>DuplicateDossierSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>foundBusinessDossiers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>FoundDuplicateDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>FullAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The house number searched for</description>
        <name>HouseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The house number addition searched for</description>
        <name>HouseNumberAddition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HouseNumberAsInt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopVariableBusinessDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>NextButtonTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OfficeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The phone number used in the search</description>
        <name>PhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The postal code searched for</description>
        <name>PostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Province</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegistrationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegistrationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Country Selected</description>
        <name>SelectedCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>NL</stringValue>
        </value>
    </variables>
    <variables>
        <description>The selected dossier</description>
        <name>selectedDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>size</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The street searched for</description>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StrictSearch</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>The trade name to search for</description>
        <name>TradeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TradeNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VATEnrichmentRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VATNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VATNumbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ZeroCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
