force-app/main/modules/businessDossier/flows/Search_Business_Dossier.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End</name>
        <label>End</label>
        <locationX>557</locationX>
        <locationY>788</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <actionCalls>
        <name>Get_Dutch_Dossier_Complete</name>
        <label>Get Dutch Dossier Complete</label>
        <locationX>1474</locationX>
        <locationY>117</locationY>
        <actionName>InstantiateBusinessDossierInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Based_on_Duplicate_Dossier</targetReference>
        </connector>
        <inputParameters>
            <name>dossierNumber</name>
            <value>
                <elementReference>selectedDossier.Dossier_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>getVat</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>establishmentNumber</name>
            <value>
                <elementReference>selectedDossier.Establishment_Number__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CompleteBusinessDossier</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <description>When a duplicate dossier has been found, but this had no Account connected, it is important to still set that Id on the complete business dossier so we can upsert on it. If its null then it will be inserted.</description>
        <name>Assign_Duplicate_Record_Id_to_New_Dossier</name>
        <label>Assign Duplicate Record Id to New Dossier</label>
        <locationX>1394</locationX>
        <locationY>798</locationY>
        <assignmentItems>
            <assignToReference>CompleteBusinessDossier.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedDossier.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Complete_Business_Dossier</name>
        <label>Set Complete Business Dossier</label>
        <locationX>1283</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>CompleteBusinessDossier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedDossier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Based_on_Duplicate_Dossier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Duplicate_Dossier_As_Selected_Dossier</name>
        <label>Set Duplicate Dossier As Selected Dossier</label>
        <locationX>1101</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>selectedDossier.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DuplicateDossier.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Source_Dutch_CoC</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Is the complete dossier an update for a duplicate?</description>
        <name>Based_on_Duplicate_Dossier</name>
        <label>Based on Duplicate Dossier</label>
        <locationX>1385</locationX>
        <locationY>591</locationY>
        <defaultConnector>
            <targetReference>End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_for_duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateDossier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Duplicate_Record_Id_to_New_Dossier</targetReference>
            </connector>
            <label>Update for duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cancel_Pressed</name>
        <label>Cancel Pressed</label>
        <locationX>538</locationX>
        <locationY>117</locationY>
        <defaultConnector>
            <targetReference>Check_Duplicate_Business_Dossiers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Cancel Pressed</defaultConnectorLabel>
        <rules>
            <name>Cancel_Pressed_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Cancel Pressed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_Dossier_Found</name>
        <label>Duplicate Dossier Found</label>
        <locationX>921</locationX>
        <locationY>118</locationY>
        <defaultConnector>
            <targetReference>Is_Source_Dutch_CoC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateDossier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does the duplicate Business Dossier have an account attached?</description>
        <name>Has_Account</name>
        <label>Has Account Attached</label>
        <locationX>1096</locationX>
        <locationY>441</locationY>
        <defaultConnector>
            <targetReference>Account_Navigation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Account_Attached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Duplicate_Dossier_As_Selected_Dossier</targetReference>
            </connector>
            <label>No Account Attached</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the source of the dossier the dutch CoC?</description>
        <name>Is_Source_Dutch_CoC</name>
        <label>Is Source Dutch CoC</label>
        <locationX>1274</locationX>
        <locationY>122</locationY>
        <defaultConnector>
            <targetReference>Set_Complete_Business_Dossier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Dutch_CoC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DossierSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dutch_Chamber_of_Commerce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Dutch_Dossier_Complete</targetReference>
            </connector>
            <label>Is Dutch CoC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Organisation_Search_Prefilled_Flow</name>
        <label>Organisation Search Prefilled Flow</label>
        <locationX>172</locationX>
        <locationY>124</locationY>
        <defaultConnector>
            <targetReference>Organisation_Search_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Should_Prefill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EnrichAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Organisation_Search_Flow_Prefilled</targetReference>
            </connector>
            <label>Should Prefill</label>
        </rules>
    </decisions>
    <description>Flow which shows a search screen, the results of the search, checks for existing dossiers, and either returns the selected dossier or opens the existing one.</description>
    <interviewLabel>Search Business Dossier</interviewLabel>
    <label>Search Business Dossier</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>931</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Account</targetReference>
        </connector>
        <filters>
            <field>Business_Dossier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DuplicateDossier.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Account_Navigation_Screen</name>
        <label>Account Navigation Screen</label>
        <locationX>682</locationX>
        <locationY>434</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <fields>
            <name>NavigateToRecord</name>
            <extensionName>appsolutely:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Duplicate Found</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Account_Record.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>43</locationX>
        <locationY>123</locationY>
        <connector>
            <targetReference>Organisation_Search_Prefilled_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_Duplicate_Business_Dossiers</name>
        <label>Check Duplicate Business Dossiers</label>
        <locationX>735</locationX>
        <locationY>116</locationY>
        <connector>
            <targetReference>Duplicate_Dossier_Found</targetReference>
        </connector>
        <flowName>Check_Duplicate_Business_Dossiers</flowName>
        <inputAssignments>
            <name>selectedDossier</name>
            <value>
                <elementReference>selectedDossier</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>DuplicateDossier</assignToReference>
            <name>DuplicateDossier</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Searches in Company.info for the right organisation</description>
        <name>Organisation_Search_Flow</name>
        <label>Organisation Search Flow</label>
        <locationX>351</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Cancel_Pressed</targetReference>
        </connector>
        <flowName>Organisation_Search_Flow</flowName>
        <outputAssignments>
            <assignToReference>cancelPressed</assignToReference>
            <name>cancelPressed</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DuplicateFound</assignToReference>
            <name>DuplicateDossierFound</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DossierSource</assignToReference>
            <name>SearchSource</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedDossier</assignToReference>
            <name>selectedDossier</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Run this node when an account has been found and the search flow should be run with prefilled fields of that account.</description>
        <name>Organisation_Search_Flow_Prefilled</name>
        <label>Organisation Search Flow Prefilled</label>
        <locationX>351</locationX>
        <locationY>189</locationY>
        <connector>
            <targetReference>Cancel_Pressed</targetReference>
        </connector>
        <flowName>Organisation_Search_Flow</flowName>
        <inputAssignments>
            <name>City</name>
            <value>
                <elementReference>EnrichAccount.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DomainName</name>
            <value>
                <elementReference>EnrichAccount.Website</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>EnrichAccount.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PostalCode</name>
            <value>
                <elementReference>EnrichAccount.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedCountry</name>
            <value>
                <elementReference>EnrichAccount.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Street</name>
            <value>
                <elementReference>EnrichAccount.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TradeName</name>
            <value>
                <elementReference>EnrichAccount.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VATEnrichmentRequired</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>cancelPressed</assignToReference>
            <name>cancelPressed</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DuplicateFound</assignToReference>
            <name>DuplicateDossierFound</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DossierSource</assignToReference>
            <name>SearchSource</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedDossier</assignToReference>
            <name>selectedDossier</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>cancelPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CompleteBusinessDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <description>The source used to fetch the dossier. (CoC, Creditsafe, Dnb)</description>
        <name>DossierSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DuplicateDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
    <variables>
        <name>DuplicateFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>EnrichAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>The dossier (Company.info record) selected by the user.</description>
        <name>selectedDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Dossier__c</objectType>
    </variables>
</Flow>
