force-app/main/modules/internationalAddress/flows/Create_Account_based_on_International_Address_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End</name>
        <label>End</label>
        <locationX>606</locationX>
        <locationY>521</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <assignments>
        <description>Assign the Account Id to the recordId output field so the global action navigates to the newly created account</description>
        <name>Assign_Record_Id</name>
        <label>Assign Record Id</label>
        <locationX>759</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_International_Address_Fields_to_Account</name>
        <label>Map International Address Fields to Account</label>
        <locationX>950</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>newAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_International_Address.Organization__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_International_Address.Locality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_International_Address.Alpha_2_Country_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_International_Address.Postcode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_International_Address.Province__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_International_Address.Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.International_Address_Data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_International_Address.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cancel_Pressed</name>
        <label>Cancel Pressed</label>
        <locationX>594</locationX>
        <locationY>265</locationY>
        <defaultConnector>
            <targetReference>Get_International_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel Not Pressed</defaultConnectorLabel>
        <rules>
            <name>Cancel_Pressed_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Cancel Pressed</label>
        </rules>
    </decisions>
    <description>Template to create an account based on international data. The organization field of the international address will be used as Account Name.</description>
    <interviewLabel>Create Account based on International Address Data {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isTemplate>true</isTemplate>
    <label>Create Account based on International Address Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>951</locationX>
        <locationY>521</locationY>
        <connector>
            <targetReference>Assign_Record_Id</targetReference>
        </connector>
        <inputReference>newAccount</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_International_Address</name>
        <label>Get International Address</label>
        <locationX>786</locationX>
        <locationY>264</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Map_International_Address_Fields_to_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedInternationalAddress.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>International_Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>272</locationX>
        <locationY>262</locationY>
        <connector>
            <targetReference>Search_International_Address</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Search_International_Address</name>
        <label>Search International Address</label>
        <locationX>436</locationX>
        <locationY>262</locationY>
        <connector>
            <targetReference>Cancel_Pressed</targetReference>
        </connector>
        <flowName>Search_International_Address</flowName>
        <inputAssignments>
            <name>organizationRequired</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>cancelPressed</assignToReference>
            <name>cancelPressed</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedInternationalAddress</assignToReference>
            <name>SelectedInternationalAddress</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>cancelPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>internationalAddressRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>The record Id of the Account to complete</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The address selected in the flow</description>
        <name>SelectedInternationalAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>International_Address__c</objectType>
    </variables>
</Flow>
