force-app/main/modules/internationalAddress/flows/Create_Account_based_on_International_Address_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End</name>
        <label>End</label>
        <locationX>852</locationX>
        <locationY>259</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <assignments>
        <name>Map_International_Address_Fields_to_Account</name>
        <label>Map International Address Fields to Account</label>
        <locationX>800</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>newAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_International_Address.Organization__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_International_Address.Locality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_International_Address.Alpha_2_Country_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_International_Address.Postcode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_International_Address.Province__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_International_Address.Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.International_Address_Data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_International_Address.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Duplicate_Management_For_Account_and_International_Address</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cancel_Pressed</name>
        <label>Cancel Pressed</label>
        <locationX>594</locationX>
        <locationY>265</locationY>
        <defaultConnector>
            <targetReference>Get_International_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel Not Pressed</defaultConnectorLabel>
        <rules>
            <name>Cancel_Pressed_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Cancel Pressed</label>
        </rules>
    </decisions>
    <description>Template to create an account based on international data. The organization field of the international address will be used as Account Name.</description>
    <interviewLabel>Create Account based on International Address Data {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Create Account based on International Address Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_International_Address</name>
        <label>Get International Address</label>
        <locationX>603</locationX>
        <locationY>470</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Map_International_Address_Fields_to_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_Message_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedInternationalAddress.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>International_Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Flow_Fault_Message_Screen</name>
        <label>Flow Fault Message Screen</label>
        <locationX>411</locationX>
        <locationY>472</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FlowFaultMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>272</locationX>
        <locationY>262</locationY>
        <connector>
            <targetReference>Search_International_Address</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Duplicate_Management_For_Account_and_International_Address</name>
        <label>Duplicate Management For Account and International Address</label>
        <locationX>956</locationX>
        <locationY>469</locationY>
        <flowName>Duplicate_Management_For_Account_and_International_Address</flowName>
        <inputAssignments>
            <name>AccountToBeCreated</name>
            <value>
                <elementReference>newAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DuplicateFound</name>
            <value>
                <elementReference>DuplicateFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedInternationalAddress</name>
            <value>
                <elementReference>SelectedInternationalAddress</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Search_International_Address</name>
        <label>Search International Address</label>
        <locationX>436</locationX>
        <locationY>263</locationY>
        <connector>
            <targetReference>Cancel_Pressed</targetReference>
        </connector>
        <flowName>Search_International_Address</flowName>
        <inputAssignments>
            <name>organizationRequired</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>cancelPressed</assignToReference>
            <name>cancelPressed</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DuplicateFound</assignToReference>
            <name>DuplicateInternationalFound</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedInternationalAddress</assignToReference>
            <name>SelectedInternationalAddress</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>cancelPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DuplicateFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>internationalAddressRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>The record Id of the Account to complete</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The address selected in the flow</description>
        <name>SelectedInternationalAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>International_Address__c</objectType>
    </variables>
</Flow>
