force-app/main/modules/internationalAddress/flows/Enrich_Account_with_International_Address_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End</name>
        <label>End</label>
        <locationX>1249</locationX>
        <locationY>47</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <assignments>
        <name>Assign_Account_Name_to_Organization</name>
        <label>Assign Account Name to Organization</label>
        <locationX>1639</locationX>
        <locationY>193</locationY>
        <assignmentItems>
            <assignToReference>SelectedInternationalAddress.Organization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_billing_country_default</name>
        <label>Assign billing country default</label>
        <locationX>955</locationX>
        <locationY>42</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_International_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_International_Address_from_Read_Account</name>
        <label>Assign International Address from Read Account</label>
        <locationX>547</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>internationalAddressRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.International_Address_Data__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SearchAgainClicked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_International_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_International_Address_record_Id</name>
        <label>Assign new International Address record Id</label>
        <locationX>1493</locationX>
        <locationY>481</locationY>
        <assignmentItems>
            <assignToReference>internationalAddressRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedInternationalAddress.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SearchAgainClicked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_International_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_outcome_message</name>
        <label>Default outcome message</label>
        <locationX>1133</locationX>
        <locationY>459</locationY>
        <assignmentItems>
            <assignToReference>DefaultOutcomeErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_International_Address</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cancel_Pressed</name>
        <label>Cancel Pressed</label>
        <locationX>1243</locationX>
        <locationY>262</locationY>
        <defaultConnector>
            <targetReference>Organization_is_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel Not Pressed</defaultConnectorLabel>
        <rules>
            <name>Cancel_Pressed_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Cancel Pressed</label>
        </rules>
    </decisions>
    <decisions>
        <name>International_Address_Set</name>
        <label>International Address Set</label>
        <locationX>537</locationX>
        <locationY>265</locationY>
        <defaultConnector>
            <targetReference>Selected_country_is_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>International Address Not Set</defaultConnectorLabel>
        <rules>
            <name>International_Address_Set_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.International_Address_Data__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_International_Address_from_Read_Account</targetReference>
            </connector>
            <label>International Address Set</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the returned address has a filled organization field.</description>
        <name>Organization_is_empty</name>
        <label>Organization is empty</label>
        <locationX>1466</locationX>
        <locationY>266</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Organization is not empty</defaultConnectorLabel>
        <rules>
            <name>Organization_is_empty_outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelectedInternationalAddress.Organization__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedInternationalAddress.Organization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Name_to_Organization</targetReference>
            </connector>
            <label>Organization is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Search_Again_Clicked</name>
        <label>Search Again Clicked</label>
        <locationX>954</locationX>
        <locationY>459</locationY>
        <defaultConnector>
            <targetReference>Default_outcome_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Search_Again_Is_Clicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchAgainClicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_country_is_empty</targetReference>
            </connector>
            <label>Search Again Is Clicked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_country_is_empty</name>
        <label>Billing country is empty</label>
        <locationX>814</locationX>
        <locationY>261</locationY>
        <defaultConnector>
            <targetReference>Search_International_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Billing Country is not Empty</defaultConnectorLabel>
        <rules>
            <name>Selected_country_is_empty_outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_billing_country_default</targetReference>
            </connector>
            <label>Billing country is empty</label>
        </rules>
    </decisions>
    <description>Template which helps the admin to create a flow that first prefills the search criteria (in this case of an account) and then updates the record (in this case an account) with the found results.</description>
    <interviewLabel>Enrich Account with International Address Data {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isTemplate>true</isTemplate>
    <label>Enrich Account with International Address Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>390</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>International_Address_Set</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1645</locationX>
        <locationY>372</locationY>
        <connector>
            <targetReference>Assign_new_International_Address_record_Id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>International_Address_Data__c</field>
            <value>
                <elementReference>SelectedInternationalAddress.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Show_International_Address</name>
        <label>Show International Address</label>
        <locationX>1028</locationX>
        <locationY>694</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Search_Again_Clicked</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <extensionName>appsolutely:flowErrorHandler</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>DefaultOutcomeErrorMessage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DefaultOutcomeErrorMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InternationalAddressHeader</name>
            <extensionName>appsolutely:accountEnrichmentHeaderInternationalAddress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>internationalAddressId</name>
                <value>
                    <elementReference>internationalAddressRecordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SearchAgainClicked</assignToReference>
                <name>searchAgainClicked</name>
            </outputParameters>
        </fields>
        <fields>
            <name>showInternationalAddressDetails</name>
            <extensionName>appsolutely:flowShowRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>internationalAddressRecordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>263</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Search_International_Address</name>
        <label>Search International Address</label>
        <locationX>1085</locationX>
        <locationY>260</locationY>
        <connector>
            <targetReference>Cancel_Pressed</targetReference>
        </connector>
        <flowName>Search_International_Address</flowName>
        <inputAssignments>
            <name>countryAsAlpha2Code</name>
            <value>
                <elementReference>Get_Account.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Locality</name>
            <value>
                <elementReference>Get_Account.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Organization</name>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Postcode</name>
            <value>
                <elementReference>Get_Account.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Province</name>
            <value>
                <elementReference>Get_Account.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Street</name>
            <value>
                <elementReference>Get_Account.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>cancelPressed</assignToReference>
            <name>cancelPressed</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedInternationalAddress</assignToReference>
            <name>SelectedInternationalAddress</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>cancelPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DefaultOutcomeErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>internationalAddressRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The record Id of the Account to complete</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SearchAgainClicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>The address selected in the flow</description>
        <name>SelectedInternationalAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>International_Address__c</objectType>
    </variables>
</Flow>
