force-app/main/modules/internationalAddress/flows/Search_International_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End</name>
        <label>End</label>
        <locationX>1030</locationX>
        <locationY>494</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <actionCalls>
        <name>Search_for_international_addresses</name>
        <label>Search for international addresses</label>
        <locationX>515</locationX>
        <locationY>60</locationY>
        <actionName>SearchForInternationalAddressInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Search_Results</targetReference>
        </connector>
        <faultConnector>
            <targetReference>International_Address</targetReference>
        </faultConnector>
        <inputParameters>
            <name>building</name>
            <value>
                <elementReference>searchInternationalAddress.building</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>searchInternationalAddress.country</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>housenr</name>
            <value>
                <elementReference>searchInternationalAddress.housenr</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>language</name>
            <value>
                <elementReference>searchInternationalAddress.language</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locality</name>
            <value>
                <elementReference>searchInternationalAddress.locality</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>organization</name>
            <value>
                <elementReference>searchInternationalAddress.organization</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pobox</name>
            <value>
                <elementReference>searchInternationalAddress.pobox</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postal_code</name>
            <value>
                <elementReference>searchInternationalAddress.postcode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>province</name>
            <value>
                <elementReference>searchInternationalAddress.province</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>searchInternationalAddress.street</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <description>Assign the organization field the user searched for to the selected international address</description>
        <name>Assign_Organization_searched_for</name>
        <label>Assign Organization searched for</label>
        <locationX>1307</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>SelectedInternationalAddress.Organization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>searchInternationalAddress.organization</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_International_Address</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cancel_Pressed</name>
        <label>Cancel Pressed</label>
        <locationX>356</locationX>
        <locationY>168</locationY>
        <defaultConnector>
            <targetReference>Search_for_international_addresses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Cancel Pressed</defaultConnectorLabel>
        <rules>
            <name>Cancel_Pressed_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Cancel Pressed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cancel_Pressed_Search_Results</name>
        <label>Cancel Pressed Search Results</label>
        <locationX>888</locationX>
        <locationY>153</locationY>
        <defaultConnector>
            <targetReference>Organization_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Cancel Pressed</defaultConnectorLabel>
        <rules>
            <name>Cancel_Pressed_Search_Results_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Cancel Pressed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Organization_found</name>
        <label>International address with organization found?</label>
        <locationX>1101</locationX>
        <locationY>156</locationY>
        <defaultConnector>
            <targetReference>Create_International_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Organization field filled</defaultConnectorLabel>
        <rules>
            <name>Organization_field_not_filled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelectedInternationalAddress.Organization__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedInternationalAddress.Organization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Organization_searched_for</targetReference>
            </connector>
            <label>Organization field not filled</label>
        </rules>
    </decisions>
    <description>Searches for and/or completes/corrects international addresses. Returns a maximum of 20 addresses.</description>
    <interviewLabel>Search International Address {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Search International Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_International_Address</name>
        <label>Create International Address</label>
        <locationX>1422</locationX>
        <locationY>58</locationY>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Search_Results</targetReference>
        </faultConnector>
        <inputReference>SelectedInternationalAddress</inputReference>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>International_Address</name>
        <label>International Address</label>
        <locationX>252</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cancel_Pressed</targetReference>
        </connector>
        <fields>
            <name>searchFlowErrorHandler</name>
            <extensionName>appsolutely:flowErrorHandler</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>searchFlowHeader</name>
            <extensionName>appsolutely:searchFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>searchInternationalAddress</name>
            <extensionName>appsolutely:internationalAddressSearchForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>building</name>
                <value>
                    <elementReference>Building</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locality</name>
                <value>
                    <elementReference>Locality</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>countryInAlpha2Code</name>
                <value>
                    <elementReference>countryAsAlpha2Code</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>housenr</name>
                <value>
                    <elementReference>Housenr</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>language</name>
                <value>
                    <elementReference>Language</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>organization</name>
                <value>
                    <elementReference>Organization</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pobox</name>
                <value>
                    <elementReference>POBox</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postcode</name>
                <value>
                    <elementReference>Postcode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Province</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>organizationRequired</name>
                <value>
                    <elementReference>organizationRequired</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>searchFlowFooter</name>
            <extensionName>appsolutely:searchFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showCancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cancelPressed</assignToReference>
                <name>cancelPressed</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Search_Results</name>
        <label>Search Results</label>
        <locationX>773</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cancel_Pressed_Search_Results</targetReference>
        </connector>
        <fields>
            <name>flowErrorHandlerSearchScreen</name>
            <extensionName>appsolutely:flowErrorHandler</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>searchResultFlowHeader</name>
            <extensionName>appsolutely:searchResultFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>InternationalAddressSearchResults</name>
            <extensionName>appsolutely:internationalAddressSearchResults</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchResults</name>
                <value>
                    <elementReference>Search_for_international_addresses</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedInternationalAddress</assignToReference>
                <name>selectedResult</name>
            </outputParameters>
        </fields>
        <fields>
            <name>searchResultFlowFooter</name>
            <extensionName>appsolutely:searchResultFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showCancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cancelPressed</assignToReference>
                <name>cancelPressed</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>International_Address</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Building</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cancelPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The country to search for in the 2 letter ISO 3316 Alpha 2 code</description>
        <name>countryAsAlpha2Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Housenr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Locality</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Organization</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organizationRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>POBox</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Postcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Province</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedInternationalAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>International_Address__c</objectType>
    </variables>
    <variables>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
