force-app/main/modules/address/flows/Search_International_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End</name>
        <label>End</label>
        <locationX>833</locationX>
        <locationY>311</locationY>
        <actionName>appsolutely:flowCancelEndPoint</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <actionCalls>
        <name>Find_Duplicate_International_Addresses</name>
        <label>Find Duplicate International Addresses</label>
        <locationX>1018</locationX>
        <locationY>345</locationY>
        <actionName>FindDuplicatesInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Over_Duplicate_International_Addresses</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sobj</typeName>
            <typeValue>appsolutely__International_Address__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>appsolutely__International_Address__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Search_Results</targetReference>
        </faultConnector>
        <inputParameters>
            <name>sobj</name>
            <value>
                <elementReference>SelectedInternationalAddress</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Found_Duplicate_International_Address</assignToReference>
            <name>output</name>
        </outputParameters>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Search_for_Dutch_Address</name>
        <label>Search for Dutch Address</label>
        <locationX>521</locationX>
        <locationY>200</locationY>
        <actionName>SearchForAddressInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Search_Results</targetReference>
        </connector>
        <faultConnector>
            <targetReference>International_Address</targetReference>
        </faultConnector>
        <inputParameters>
            <name>addresstype</name>
            <value>
                <elementReference>searchInternationalAddress.addresstype</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>housenr</name>
            <value>
                <elementReference>searchInternationalAddress.housenr</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>housenrAddition</name>
            <value>
                <elementReference>searchInternationalAddress.housenrAddition</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lettercombination</name>
            <value>
                <elementReference>searchInternationalAddress.lettercombination</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locality</name>
            <value>
                <elementReference>searchInternationalAddress.locality</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>municipality</name>
            <value>
                <elementReference>searchInternationalAddress.municipality</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>organization</name>
            <value>
                <elementReference>searchInternationalAddress.organization</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postal_code</name>
            <value>
                <elementReference>searchInternationalAddress.postcode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>province</name>
            <value>
                <elementReference>searchInternationalAddress.province</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>searchInternationalAddress.street</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Search_for_international_addresses</name>
        <label>Search for international addresses</label>
        <locationX>344</locationX>
        <locationY>42</locationY>
        <actionName>SearchForInternationalAddressInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Search_Results</targetReference>
        </connector>
        <faultConnector>
            <targetReference>International_Address</targetReference>
        </faultConnector>
        <inputParameters>
            <name>building</name>
            <value>
                <elementReference>searchInternationalAddress.building</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>searchInternationalAddress.country</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>housenr</name>
            <value>
                <elementReference>searchInternationalAddress.housenr</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>language</name>
            <value>
                <elementReference>searchInternationalAddress.language</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locality</name>
            <value>
                <elementReference>searchInternationalAddress.locality</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>organization</name>
            <value>
                <elementReference>searchInternationalAddress.organization</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pobox</name>
            <value>
                <elementReference>searchInternationalAddress.pobox</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postal_code</name>
            <value>
                <elementReference>searchInternationalAddress.postcode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>province</name>
            <value>
                <elementReference>searchInternationalAddress.province</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>searchInternationalAddress.street</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Assign_Duplicate_International_Address</name>
        <label>Assign Duplicate International Address</label>
        <locationX>1216</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>FoundDuplicateInternationalAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DuplicateInternationalAddressLoopVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Duplicate_International_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Found_International_Address</name>
        <label>Assign Found International Address</label>
        <locationX>530</locationX>
        <locationY>448</locationY>
        <assignmentItems>
            <assignToReference>SelectedInternationalAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FoundDuplicateInternationalAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DuplicateInternationalFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Complete_International_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the organization field the user searched for to the selected international address</description>
        <name>Assign_Organization_searched_for</name>
        <label>Assign Organization searched for</label>
        <locationX>1315</locationX>
        <locationY>344</locationY>
        <assignmentItems>
            <assignToReference>SelectedInternationalAddress.Organization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>searchInternationalAddress.organization</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Duplicate_International_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Search_Results</name>
        <label>Assign Search Results</label>
        <locationX>605</locationX>
        <locationY>109</locationY>
        <assignmentItems>
            <assignToReference>Search_for_international_addresses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_for_Dutch_Address</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Selected_International_Address</name>
        <label>Assign To Selected International Address</label>
        <locationX>643</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>SelectedInternationalAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Complete_International_Address</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cancel_Pressed</name>
        <label>Cancel Pressed</label>
        <locationX>257</locationX>
        <locationY>322</locationY>
        <defaultConnector>
            <targetReference>Check_Selected_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Cancel Pressed</defaultConnectorLabel>
        <rules>
            <name>Cancel_Pressed_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Cancel Pressed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cancel_Pressed_Search_Results</name>
        <label>Cancel Pressed Search Results</label>
        <locationX>1010</locationX>
        <locationY>60</locationY>
        <defaultConnector>
            <targetReference>Organization_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Cancel Pressed</defaultConnectorLabel>
        <rules>
            <name>Cancel_Pressed_Search_Results_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelPressed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Cancel Pressed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_Country</name>
        <label>Check Selected Country</label>
        <locationX>336</locationX>
        <locationY>212</locationY>
        <defaultConnector>
            <targetReference>Search_for_international_addresses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NL Not Selected</defaultConnectorLabel>
        <rules>
            <name>Is_NL_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>searchInternationalAddress.countryInAlpha2Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>searchInternationalAddress.country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NLD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_for_Dutch_Address</targetReference>
            </connector>
            <label>Is NL Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_International_Address_Check</name>
        <label>Duplicate International Address Check</label>
        <locationX>711</locationX>
        <locationY>568</locationY>
        <defaultConnector>
            <targetReference>Create_International_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duplicate International Address Not Found</defaultConnectorLabel>
        <rules>
            <name>Duplicate_International_Address_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundDuplicateInternationalAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Found_International_Address</targetReference>
            </connector>
            <label>Duplicate International Address Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Organization_found</name>
        <label>International address with organization found?</label>
        <locationX>1154</locationX>
        <locationY>220</locationY>
        <defaultConnector>
            <targetReference>Find_Duplicate_International_Addresses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Organization field filled</defaultConnectorLabel>
        <rules>
            <name>Organization_field_not_filled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelectedInternationalAddress.Organization__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedInternationalAddress.Organization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Organization_searched_for</targetReference>
            </connector>
            <label>Organization field not filled</label>
        </rules>
    </decisions>
    <description>Searches for and/or completes/corrects international addresses. Returns a maximum of 20 addresses.</description>
    <interviewLabel>Search International Address {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Search International Address</label>
    <loops>
        <name>Loop_Over_Duplicate_International_Addresses</name>
        <label>Loop Over Duplicate International Addresses</label>
        <locationX>1019</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>DuplicateInternationalAddressLoopVariable</assignNextValueToReference>
        <collectionReference>Found_Duplicate_International_Address</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Duplicate_International_Address</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Duplicate_International_Address_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_International_Address</name>
        <label>Create International Address</label>
        <locationX>905</locationX>
        <locationY>448</locationY>
        <connector>
            <targetReference>Get_Complete_International_Address</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Search_Results</targetReference>
        </faultConnector>
        <inputReference>SelectedInternationalAddress</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get all the fields for the selected International address record</description>
        <name>Get_Complete_International_Address</name>
        <label>Get Complete International Address</label>
        <locationX>720</locationX>
        <locationY>440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_To_Selected_International_Address</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Search_Results</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedInternationalAddress.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>International_Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>International_Address</name>
        <label>International Address</label>
        <locationX>142</locationX>
        <locationY>223</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cancel_Pressed</targetReference>
        </connector>
        <fields>
            <name>searchFlowErrorHandler</name>
            <extensionName>appsolutely:flowErrorHandler</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>searchFlowHeader</name>
            <extensionName>appsolutely:searchFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>searchInternationalAddress</name>
            <extensionName>appsolutely:internationalAddressSearchForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>building</name>
                <value>
                    <elementReference>Building</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locality</name>
                <value>
                    <elementReference>Locality</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>countryInAlpha2Code</name>
                <value>
                    <elementReference>countryAsAlpha2Code</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>housenr</name>
                <value>
                    <elementReference>Housenr</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>language</name>
                <value>
                    <elementReference>Language</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>organization</name>
                <value>
                    <elementReference>Organization</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pobox</name>
                <value>
                    <elementReference>POBox</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postcode</name>
                <value>
                    <elementReference>Postcode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Province</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>organizationRequired</name>
                <value>
                    <elementReference>organizationRequired</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addresstype</name>
                <value>
                    <elementReference>AddressType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>housenrAddition</name>
                <value>
                    <elementReference>HouseNrAddition</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lettercombination</name>
                <value>
                    <elementReference>LetterCombination</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>municipality</name>
                <value>
                    <elementReference>Municipality</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>searchFlowFooter</name>
            <extensionName>appsolutely:searchFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showCancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageRef</name>
                <value>
                    <stringValue>InternationalAddressSearchForm</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cancelPressed</assignToReference>
                <name>cancelPressed</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Search_Results</name>
        <label>Search Results</label>
        <locationX>750</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cancel_Pressed_Search_Results</targetReference>
        </connector>
        <fields>
            <name>flowErrorHandlerSearchScreen</name>
            <extensionName>appsolutely:flowErrorHandler</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>searchResultFlowHeader</name>
            <extensionName>appsolutely:searchResultFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>InternationalAddressSearchResults</name>
            <extensionName>appsolutely:internationalAddressSearchResults</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchResults</name>
                <value>
                    <elementReference>Search_for_international_addresses</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>searchInternationalAddress.country</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedInternationalAddress</assignToReference>
                <name>selectedResult</name>
            </outputParameters>
        </fields>
        <fields>
            <name>searchResultFlowFooter</name>
            <extensionName>appsolutely:searchResultFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showCancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cancelPressed</assignToReference>
                <name>cancelPressed</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>38</locationX>
        <locationY>223</locationY>
        <connector>
            <targetReference>International_Address</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddressType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Building</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cancelPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The country to search for in the 2 letter ISO 3316 Alpha 2 code</description>
        <name>countryAsAlpha2Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DuplicateInternationalAddressLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>International_Address__c</objectType>
    </variables>
    <variables>
        <name>DuplicateInternationalFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FoundDuplicateInternationalAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>International_Address__c</objectType>
    </variables>
    <variables>
        <name>Housenr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HouseNrAddition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LetterCombination</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Locality</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Municipality</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Organization</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organizationRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>POBox</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Postcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Province</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedInternationalAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>International_Address__c</objectType>
    </variables>
    <variables>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Found_Duplicate_International_Address</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>International_Address__c</objectType>
    </variables>
</Flow>